<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>总检</title>
	<style type="text/css">
		*{
			margin: 0px;
			padding: 0px;
		}
	</style>
</head>
<body style="width: 100%;background-image: url(../images/bgimg.jpg);background-size: 100% 100%;">
<div style="width: 80%; margin: 0 auto;background-color: #f8f8f8;opacity: 0.8;">
	<h1 style="text-align: center; margin-top:20px; margin: 0 auto;">总&nbsp;&nbsp;&nbsp;检</h1>
	<table style="width: 210mm; margin-left: 5mm; margin: 0 auto;">
		<thead>
		<tr style="line-height: 40px;">
			<td colspan="4" align="center">
				<span>体检编号:</span>&nbsp;&nbsp;&nbsp;<input type="text" name="physicalexaminationid" size="40" style="height:30px; font-size: 16px;"/>
				<input type="button" value="查询" onclick="getpersoninfo()" style="margin-left: 10px; height: 30px; width: 60px; font-weight: bold;"/>
			</td>
		</tr>
		<tr style="line-height: 40px;">
			<td align="center">姓名:<label name="personName"/></td>
			<td align="center">年龄:<label  name="personAge"/></td>
			<td align="center">性别:<label  name="personSex"/></td>
			<td align="center">婚否:<label  name="isMarry"/></td>
		</tr>
		</thead>
	</table>
	<!--<hr />-->
	<div style="height: 300px; overflow-y: auto; text-align: center;" id="content">
		<table border="1" style="margin:0 auto; margin-bottom: 15px; line-height: 30px;" id="checknum">

		</table>
		<!--<table border="1" style="margin:0 auto; margin-bottom: 15px; line-height: 30px;">-->
			<!--<tr>-->
				<!--<td align="right">体检项：</td>-->
				<!--<td id="tijian"></td>-->
			<!--</tr>-->
			<!--<tr>-->
				<!--<td align="right">体检结果：</td>-->
				<!--<td>-->
					<!--<table style="width: 180mm;">-->
						<!--<thead>-->
						<!--<tr>-->
							<!--<td>检验项</td>-->
							<!--<td>单位</td>-->
							<!--<td>参考范围</td>-->
							<!--<td>结果</td>-->
							<!--<td>提示</td>-->
						<!--</tr>-->
						<!--</thead>-->
						<!--<tbody id="nums">-->

						<!--</tbody>-->
					<!--</table>-->
				<!--</td>-->
			<!--</tr>-->
		<!--</table>-->
	</div>
	<!--<hr />-->
	<table style="margin:0 auto; margin-top: 25px;">
		<tr>
			<td align="center">综述结果</td>
			<td align="center">综述建议</td>
		</tr>
		<tr>
			<td id="checkResultFinally">
				<input type="hidden" name="checkResultFinally">
				<textarea style="width: 90mm;height: 60mm;" id="one"></textarea>
			</td>
			<td id="checkAdvice">
				<input type="hidden" name="checkAdvice">
				<textarea style="width: 90mm;height: 60mm;" id="two"></textarea>
			</td>
		</tr>
	</table>
	<hr />
	<div style="font-size: 18px; margin-left:120mm; line-height: 20mm;">
		总检日期:&nbsp;<span>2018-08-25</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<input type="button" value="打印报告" style="margin-left: 10px; height: 40px; width: 70px; font-weight: bold;"/>
	</div>
</div>
</body>
<script  type="text/javascript" src="/js/AlwaysCheck.js"></script>
<script type="text/javascript" src="/js/jquery-3.2.1.js"></script>
<script language="javascript" src="/js/jquery.jqprint-0.3.js"></script>
</html>
