<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>总检</title>
		<style type="text/css">
			*{
				margin: 0px;
				padding: 0px;
			}
		</style>
	</head>
	<body style="background: lightskyblue;">
		<div style="width: 210mm; height: 210mm; margin: 0 auto;">
			<h1 style="text-align: center; margin-top:20px; margin: 0 auto;">总&nbsp;&nbsp;&nbsp;检</h1>
			<table style="width: 210mm; margin-left: 5mm;">
				<thead>
					<tr style="line-height: 40px;">
						<td colspan="4" align="center">
							<span>体检编号:</span>&nbsp;&nbsp;&nbsp;<input type="text" name="physical_examination_id" size="40" style="height:30px; font-size: 16px;"/>
							<input type="button" value="查询" style="margin-left: 10px; height: 30px; width: 60px; font-weight: bold;"/>
						</td>
					</tr>
					<tr style="line-height: 40px;">
						<td align="center">姓名：<label>xxxxx</label></td>
						<td align="center">年龄：<label>xxxxx</label></td>
						<td align="center">性别：<label>xxxxxx</label></td>
						<td align="center">婚否：<label>xxxxx</label></td>
					</tr>
				</thead>
			</table>
			<!--<hr />-->
			<div style="height: 300px; overflow-y: auto; text-align: center;">
				<table border="1" style="margin:0 auto; margin-bottom: 15px; line-height: 30px;">
					<tr>
						<td align="right">体检项：</td>
						<td>身高</td>
					</tr>
					<tr>
						<td align="right">体检结果：</td>
						<td>身高正常 170</td>
					</tr>
					<tr>
						<td align="right">建&nbsp;&nbsp;&nbsp;&nbsp;议：</td>
						<td>
							<div style="width:  150mm;">
							多喝水，受抽烟，注意锻炼身体！
							</div>
						</td>
					</tr>
				</table>
				<table border="1" style="margin:0 auto; margin-bottom: 15px; line-height: 30px;">
					<tr>
						<td align="right">体检项：</td>
						<td>身高</td>
					</tr>
					<tr>
						<td align="right">体检结果：</td>
						<td>身高正常 170</td>
					</tr>
					<tr>
						<td align="right">建&nbsp;&nbsp;&nbsp;&nbsp;议：</td>
						<td>
							<div style="width:  150mm;">
							多喝水，受抽烟，注意锻炼身体！
							</div>
						</td>
					</tr>
				</table>
				<table border="1" style="margin:0 auto; margin-bottom: 15px; line-height: 30px;">
					<tr>
						<td align="right">体检项：</td>
						<td>身高</td>
					</tr>
					<tr>
						<td align="right">体检结果：</td>
						<td>身高正常 170</td>
					</tr>
					<tr>
						<td align="right">建&nbsp;&nbsp;&nbsp;&nbsp;议：</td>
						<td>
							<div style="width:  150mm;">
							多喝水，受抽烟，注意锻炼身体！
							</div>
						</td>
					</tr>
				</table>
				<table border="1" style="margin:0 auto; margin-bottom: 15px; line-height: 30px;">
					<tr>
						<td align="right">体检项：</td>
						<td>身高</td>
					</tr>
					<tr>
						<td align="right">体检结果：</td>
						<td>身高正常 170</td>
					</tr>
					<tr>
						<td align="right">建&nbsp;&nbsp;&nbsp;&nbsp;议：</td>
						<td>
							<div style="width:  150mm;">
							多喝水，受抽烟，注意锻炼身体！
							</div>
						</td>
					</tr>
				</table>
				<table border="1" style="margin:0 auto; margin-bottom: 15px; line-height: 30px;">
					<tr>
						<td align="right">体检项：</td>
						<td>身高</td>
					</tr>
					<tr>
						<td align="right">体检结果：</td>
						<td>身高正常 170</td>
					</tr>
					<tr>
						<td align="right">建&nbsp;&nbsp;&nbsp;&nbsp;议：</td>
						<td>
							<div style="width:  150mm;">
							多喝水，受抽烟，注意锻炼身体！
							</div>
						</td>
					</tr>
				</table>
				<table border="1" style="margin:0 auto; margin-bottom: 15px; line-height: 30px;">
					<tr>
						<td align="right">体检项：</td>
						<td>血液</td>
					</tr>
					<tr>
						<td align="right">体检结果：</td>
						<td>
							<table style="width: 180mm;">
				<thead>
					<td>检验项</td>
					<td>单位</td>
					<td>参考范围</td>
					<td>结果</td>
					<td>提示</td>
				</thead>
				<tbody>
					<tr>
						<td>血小板</td>
						<td>个</td>
						<td>50-100</td>
						<td>12</td>
						<td>↓</td>
					</tr>
					<tr>
						<td>白细胞</td>
						<td>个</td>
						<td>50-100</td>
						<td>99</td>
						<td>↑</td>
					</tr>
					<tr>
						<td>淋巴细胞</td>
						<td>个</td>
						<td>50-100</td>
						<td>12</td>
						<td>↓</td>
					</tr>
					<tr>
						<td>红细胞</td>
						<td>个</td>
						<td>50-100</td>
						<td>12</td>
						<td>↑</td>
					</tr>
				</tbody>
			</table>
						</td>
					</tr>
				</table>
			</div>	
			<!--<hr />-->
			<table style="margin:0 auto; margin-top: 25px;">
				<tr>
					<td align="center">综述结果</td>
					<td align="center">综述建议</td>
				</tr>
				<tr>
					<td>
						<textarea style="width: 90mm;height: 60mm;"></textarea>
					</td>
					<td>
						<textarea style="width: 90mm;height: 60mm;"></textarea>
					</td>
				</tr>
			</table>
			<hr />
			<div style="font-size: 18px; margin-left: 70mm;line-height: 20mm;">
				总检日期:&nbsp;<span>2018-08-25</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<input type="button" value="打印报告" style="margin-left: 10px; height: 40px; width: 70px; font-weight: bold;"/>
			</div>
		</div>
	</body>
</html>
