<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>收费</title>
		<link rel="stylesheet" type="text/css" href="/css/Cashiers.css"/>
	</head>
	<body style=" width: 100%;	background-image: url(../images/bgimg.jpg); background-size: 100% 100%;">
		<div id="content">
			<header style="height: 50px; display: block; text-align: center; line-height:50px; font-weight: bold; font-size: 25px;">收&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;费</header>
			<table style="width: 100%;">
				<thead>
					<tr>
						<td colspan="4" align="center">
							<span>体检编号:</span>&nbsp;&nbsp;&nbsp;<input type="text" name="physical_examination_id" size="40" style="height:30px; font-size: 16px;"/>
							<input type="button" value="查询" style="margin-left: 10px; height: 30px; width: 60px; font-weight: bold;" onclick="getPersonInfo(0)"/>
						</td>
					</tr>
					<tr>
						<td align="center" class="name">姓名:----</td>
						<td align="center" class="age">年龄:----</td>
						<td align="center" class="sex">性别:----</td>
						<td align="center" class="isMarry">婚否:----</td>
					</tr>
				</thead>
			</table>
			<table style="width: 100%;">
				<thead>
					<tr>
						<td align="center" style="font-size: 20px;">序号</td>
						<td align="center" style="font-size: 20px;">体检项</td>
						<td align="center" style="font-size: 20px;">单价</td>
					</tr>
				</thead>
				<tbody style="overflow-y: scroll; width: 100%; height: 200px; display: block;" class="checkList">
					<tr>
						<td align="center">----</td>
						<td align="center">----</td>
						<td align="center">----</td>
					</tr>
					<tr>
						<td colspan="3" align="center">暂无信息,请输入人员编号进行查询</td>
					</tr>
				</tbody>
				<tfoot style="display: block; margin-top: 35px;">
					<tr style="line-height: 30px;">
						<td colspan="3" style="text-indent: 40em;">
							总计:&nbsp;&nbsp;<span class="aggregate">---</span>
						</td>
					</tr>
					<tr style="line-height: 30px;">
						<td colspan="3" style="text-indent: 40em;">
							应收金额:&nbsp;&nbsp;<span class="receivable">---</span>
						</td>
					</tr>
					<tr style="line-height: 30px;">
						<td colspan="3" style="text-indent: 40em;">
							实收金额:&nbsp;&nbsp;<input type="number" name="price"/>
						</td>
					</tr>
					<tr style="line-height: 30px;">
						<td colspan="3" style="text-indent: 40em;">
							找零:&nbsp;&nbsp;<span class="change">---</span>
						</td>
					</tr>
					<tr style="line-height: 36px;">
						<td colspan="3" style="text-indent: 39em;" class="operation">
							<input disabled="disabled" type="button" value="结算" style="margin-left: 10px; height: 30px; width: 60px;  font-weight: bold;" onclick="hint()"/>
						</td>
					</tr>
				</tfoot>
			</table>
		</div>
	</body>
	<script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
	<script type="text/javascript">

		$(function () {
		    //自动计算找零
			$("input[name=price]").blur(function () {
                var receivable = $(".receivable").html();
                var price = $("input[name=price]").val();
				var change = price - receivable ;
				$(".change").html(change);
            })
        })
		
		function hint() {
			alert("请先查询人员信息！");
        }

		//根据体检编号查询体检信息
		function getPersonInfo(physicalStatu) {
		    var physical_examination_id = $("input[name=physical_examination_id]").val();
			$.ajax({
				url:"/getPersonInfoByPersonId.do",
				data:{physical_examination_id:physical_examination_id,physicalStatu:physicalStatu},
				dataType:"json",
				success:function (date) {
					if (date!=null){
                        getCostTypeByPersonId(date.personId);
						$(".name").html("姓名:"+date.personName);
                        $(".age").html("年龄:"+date.personAge);
                        $(".sex").html("性别:"+date.personSex);
                        $(".isMarry").html("婚否:"+date.isMarry);
                        var checkList = "" ;
                        var price = 0 ;
                        $.each(date.checkList,function (i,e) {
                            checkList += "<tr>\n" +
                                "\t\t\t\t\t\t<td align=\"center\">"+(i+1)+"</td>\n" +
                                "\t\t\t\t\t\t<td align=\"center\">"+e.checkName+"</td>\n" +
                                "\t\t\t\t\t\t<td align=\"center\">"+e.checkPrice+"</td>\n" +
                                "\t\t\t\t\t</tr>";
                            price += e.checkPrice;
                        })
						if (checkList==""){
                            checkList = "<tr>\n" +
                                "\t\t\t\t\t\t<td align=\"center\">----</td>\n" +
                                "\t\t\t\t\t\t<td align=\"center\">----</td>\n" +
                                "\t\t\t\t\t\t<td align=\"center\">----</td>\n" +
                                "\t\t\t\t\t</tr>\n" +
                                "\t\t\t\t\t<tr>\n" +
                                "\t\t\t\t\t\t<td colspan=\"3\" align=\"center\">无体检信息</td>\n" +
                                "\t\t\t\t\t</tr>" ;
                            $(".checkList").html(checkList);
						}
                        $(".checkList").html(checkList);
						$(".aggregate").html(price);
                        $(".receivable").html(price);
                        $(".change").html("---");
					} else {
                        $(".name").html("姓名:----");
                        $(".age").html("年龄:----");
                        $(".sex").html("性别:----");
                        $(".isMarry").html("婚否:----");
                        var checkList = "<tr>\n" +
                            "\t\t\t\t\t\t<td align=\"center\">----</td>\n" +
                            "\t\t\t\t\t\t<td align=\"center\">----</td>\n" +
                            "\t\t\t\t\t\t<td align=\"center\">----</td>\n" +
                            "\t\t\t\t\t</tr>\n" +
                            "\t\t\t\t\t<tr>\n" +
                            "\t\t\t\t\t\t<td colspan=\"3\" align=\"center\">暂无信息,请输入人员编号进行查询</td>\n" +
                            "\t\t\t\t\t</tr>" ;
                        $(".checkList").html(checkList);
					    alert("查询失败,请重新输如人员编号！");
					}
                }
			})
        }

        //根据人员id查询该体检人是否已缴费/是否已退费
        function getCostTypeByPersonId(personId) {
            $.ajax({
                url:"/getCostTypeByPersonId.do",
                data:{personId:personId,costType:"收费"},
                dataType:"json",
                success:function (date) {
					if (date!="收费"){
					    var str = "<input type=\"button\" value=\"结算\" style=\"margin-left: 10px; height: 30px; width: 60px;  font-weight: bold;\" onclick=\"operationCost()\"/>";
						$(".operation").html(str)
					}else{
                        var str = "<input type=\"button\" value=\"已结算\" style=\"margin-left: 10px; height: 30px; width: 60px;  font-weight: bold;\" onclick=\"operationCost()\" disabled=\"disabled\"/>";
                        $(".name").html("姓名:----");
                        $(".age").html("年龄:----");
                        $(".sex").html("性别:----");
                        $(".isMarry").html("婚否:----");
                        var checkList = "<tr>\n" +
                            "\t\t\t\t\t\t<td align=\"center\">----</td>\n" +
                            "\t\t\t\t\t\t<td align=\"center\">----</td>\n" +
                            "\t\t\t\t\t\t<td align=\"center\">----</td>\n" +
                            "\t\t\t\t\t</tr>\n" +
                            "\t\t\t\t\t<tr>\n" +
                            "\t\t\t\t\t\t<td colspan=\"3\" align=\"center\">已缴费</td>\n" +
                            "\t\t\t\t\t</tr>" ;
                        $(".checkList").html("---");
                        $(".aggregate").html("---");
                        $(".receivable").html("---");
                        $(".change").html("---");
                        $(".checkList").html(checkList);
                        $(".operation").html(str)
					}
                }
            })
        }

        //结算
        function operationCost() {
            var physical_examination_id = $("input[name=physical_examination_id]").val();
            var aggregate = $(".aggregate").html();
            $.ajax({
				url:"/operationCost.do",
				data:{physical_examination_id:physical_examination_id,aggregate:aggregate,physicalStatu:0},
				dataType:"json",
				success:function (date) {
					if (date>0) {
						alert("收费成功");
                        $("input[name=physical_examination_id]").val("");
                        $(".name").html("姓名:----");
                        $(".age").html("年龄:----");
                        $(".sex").html("性别:----");
                        $(".isMarry").html("婚否:----");
                        var checkList = "<tr>\n" +
                            "\t\t\t\t\t\t<td align=\"center\">----</td>\n" +
                            "\t\t\t\t\t\t<td align=\"center\">----</td>\n" +
                            "\t\t\t\t\t\t<td align=\"center\">----</td>\n" +
                            "\t\t\t\t\t</tr>\n" +
                            "\t\t\t\t\t<tr>\n" +
                            "\t\t\t\t\t\t<td colspan=\"3\" align=\"center\">暂无信息,请输入人员编号进行查询</td>\n" +
                            "\t\t\t\t\t</tr>" ;
                        $(".checkList").html(checkList);
					}else{
						alert("收费失败");
					}
                }
			})
        }

	</script>
</html>



