<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>单位分组</title>
	</head>

	<body style="background-image: url(../images/bgimg.jpg);background-size: 100% 100%;">
		<div style="width: 80%;height: 297mm; margin: 0 auto; background-color: #f8f8f8; opacity: 0.8;">
			<h2 style="display: block; text-align: center;">单位分组维护</h2>
			<div style="width: 50%; height: 297mm; float: left;">
				<div style="margin-top: 10%;">
					<table>
						<tr>
							<td style="width: 150px; text-align: right;">是否启用：</td>
							<td><input type="radio" value="0" name="yesorno" />是</td>
							<td><input type="radio" value="1" name="yesorno" />否</td>
							<td></td>
						</tr>
						<tr>
							<td style="width: 150px; text-align: right;">所属单位：</td>
							<td colspan="3">
								<input type="text" readonly="readonly" name="" value="" />
							</td>
						</tr>
						<tr>
							<td style="width: 150px; text-align: right;">所属单位：</td>
							<td colspan="3">
								<input type="text" name="" value="" />
							</td>
						</tr>
						<tr>
							<td style="width: 150px; text-align: right;">性别条件：</td>
							<td><input type="radio" value="0" name="sex" />男</td>
							<td><input type="radio" value="1" name="sex" />女</td>
							<td><input type="radio" value="2" name="sex" />不限</td>
						</tr>
						<tr>
							<td style="width: 150px; text-align: right;">婚否条件：</td>
							<td><input type="radio" value="0" name="hun" />已婚</td>
							<td><input type="radio" value="1" name="hun" />未婚</td>
							<td><input type="radio" value="2" name="hun" />不限</td>
						</tr>
						<tr>
							<td style="width: 150px; text-align: right;">年龄上限：</td>
							<td><input type="text" value="" name="" /></td>
							<td style="width: 150px; text-align: right;">年龄下限</td>
							<td><input type="text" value="" name="" /></td>
						</tr>
					</table>
				</div>

				<div style="width: 100%; height: 300px; overflow: auto;margin-top: 10%;">
					<h3 style="display: block; text-align: center;">所有套餐</h3>
					<div>
						<table style="width: 90%; height: 300px;margin-left: 10%;">
							<tr>
								<td><input type="checkbox" name="" value="" />套餐</td>
								<td><input type="checkbox" name="" value="" />套餐</td>
								<td><input type="checkbox" name="" value="" />套餐</td>
							</tr>
							<tr>
								<td><input type="checkbox" name="" value="" />套餐</td>
								<td><input type="checkbox" name="" value="" />套餐</td>
								<td><input type="checkbox" name="" value="" />套餐</td>
							</tr>
							<tr>
								<td><input type="checkbox" name="" value="" />套餐</td>
								<td><input type="checkbox" name="" value="" />套餐</td>
								<td><input type="checkbox" name="" value="" />套餐</td>
							</tr>
							<tr>
								<td><input type="checkbox" name="" value="" />套餐</td>
								<td><input type="checkbox" name="" value="" />套餐</td>
								<td><input type="checkbox" name="" value="" />套餐</td>
							</tr>
							<tr>
								<td><input type="checkbox" name="" value="" />套餐</td>
								<td><input type="checkbox" name="" value="" />套餐</td>
								<td><input type="checkbox" name="" value="" />套餐</td>
							</tr>
							<tr>
								<td><input type="checkbox" name="" value="" />套餐</td>
								<td><input type="checkbox" name="" value="" />套餐</td>
								<td><input type="checkbox" name="" value="" />套餐</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
			<div style="width: 50%;height: 100mm;float: left;overflow: auto;  margin-top: 5%;">
				<h3 style="display: block;text-align: center;">已导入的人员信息表</h3>
				<table style="width: 100%;text-align: center; height: 300px;">
					<thead>
						<tr>
							<td>表头1</td>
							<td>表头2</td>
							<td>表头3</td>
							<td>表头4</td>
							<td>表头5</td>
							<td>表头6</td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1111</td>
							<td>1111</td>
							<td>1111</td>
							<td>1111</td>
							<td>1111</td>
							<td>1111</td>
						</tr>
						<tr>
							<td>1111</td>
							<td>1111</td>
							<td>1111</td>
							<td>1111</td>
							<td>1111</td>
							<td>1111</td>
						</tr>
						<tr>
							<td>1111</td>
							<td>1111</td>
							<td>1111</td>
							<td>1111</td>
							<td>1111</td>
							<td>1111</td>
						</tr>
						<tr>
							<td>1111</td>
							<td>1111</td>
							<td>1111</td>
							<td>1111</td>
							<td>1111</td>
							<td>1111</td>
						</tr>
						<tr>
							<td>1111</td>
							<td>1111</td>
							<td>1111</td>
							<td>1111</td>
							<td>1111</td>
							<td>1111</td>
						</tr>
						<tr>
							<td>1111</td>
							<td>1111</td>
							<td>1111</td>
							<td>1111</td>
							<td>1111</td>
							<td>1111</td>
						</tr>
						<tr>
							<td>1111</td>
							<td>1111</td>
							<td>1111</td>
							<td>1111</td>
							<td>1111</td>
							<td>1111</td>
						</tr>
						<tr>
							<td>1111</td>
							<td>1111</td>
							<td>1111</td>
							<td>1111</td>
							<td>1111</td>
							<td>1111</td>
						</tr>
						<tr>
							<td>1111</td>
							<td>1111</td>
							<td>1111</td>
							<td>1111</td>
							<td>1111</td>
							<td>1111</td>
						</tr>
						<tr>
							<td>1111</td>
							<td>1111</td>
							<td>1111</td>
							<td>1111</td>
							<td>1111</td>
							<td>1111</td>
						</tr>
						<tr>
							<td>1111</td>
							<td>1111</td>
							<td>1111</td>
							<td>1111</td>
							<td>1111</td>
							<td>1111</td>
						</tr>
						<tr>
							<td>1111</td>
							<td>1111</td>
							<td>1111</td>
							<td>1111</td>
							<td>1111</td>
							<td>1111</td>
						</tr>
						<tr>
							<td>1111</td>
							<td>1111</td>
							<td>1111</td>
							<td>1111</td>
							<td>1111</td>
							<td>1111</td>
						</tr>
						<tr>
							<td>1111</td>
							<td>1111</td>
							<td>1111</td>
							<td>1111</td>
							<td>1111</td>
							<td>1111</td>
						</tr>
						<tr>
							<td>1111</td>
							<td>1111</td>
							<td>1111</td>
							<td>1111</td>
							<td>1111</td>
							<td>1111</td>
						</tr>
						<tr>
							<td>1111</td>
							<td>1111</td>
							<td>1111</td>
							<td>1111</td>
							<td>1111</td>
							<td>1111</td>
						</tr>
						<tr>
							<td>1111</td>
							<td>1111</td>
							<td>1111</td>
							<td>1111</td>
							<td>1111</td>
							<td>1111</td>
						</tr>
						<tr>
							<td>1111</td>
							<td>1111</td>
							<td>1111</td>
							<td>1111</td>
							<td>1111</td>
							<td>1111</td>
						</tr>
						<tr>
							<td>1111</td>
							<td>1111</td>
							<td>1111</td>
							<td>1111</td>
							<td>1111</td>
							<td>1111</td>
						</tr>
						<tr>
							<td>1111</td>
							<td>1111</td>
							<td>1111</td>
							<td>1111</td>
							<td>1111</td>
							<td>1111</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</body>
</html>