<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>SCT-科室医生</title>
		<link href="/hospitalOne/style/authority/main_css.css" rel="stylesheet" type="text/css" />
		<link href="/hospitalOne/style/authority/zTreeStyle.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" type="text/css" href="/hospitalOne/css/department.css"/>

		<link rel="stylesheet" href="/hospitalOne/css/layui.css" />
		<!--<script type="text/javascript" src="../scripts/jquery/jquery-1.7.1.js"></script>-->
		<script src="http://sandbox.runjs.cn/uploads/rs/499/ixc5vbvz/sweetswal.min.js"></script>
		<link rel="stylesheet" type="text/css" href="http://sandbox.runjs.cn/uploads/rs/499/ixc5vbvz/sweetswal.css"/>
		<script type="text/javascript" src="/hospitalOne/js/jquery-3.2.1.js"></script>
		<script type="text/javascript" src="/hospitalOne/scripts/zTree/jquery.ztree.core-3.2.js"></script>
		<script type="text/javascript" src="/hospitalOne/scripts/authority/commonAll.js"></script>
		<script src="/hospitalOne/js/nowdate.js"></script>
		<script type="text/javascript" src="/hospitalOne/layui.js"></script>
		<script src="/hospitalOne/js/jquery-3.2.1.js"></script>
		<script src="/hospitalOne/js/department.js"></script>
		<script>
            var element;
            layui.use('element', function() {
                element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块

                //监听导航点击
                element.on('nav(demo)', function(elem) {
                    //console.log(elem)
                    layer.msg(elem.text());
                });
            });
		</script>
		<script type="text/javascript">
            $(function () {
                $("ul li").on("click",function () {
                    $("ul li")
                });
            });
            /**退出系统**/
            function logout() {
                if(confirm("您确定要退出本系统吗？")) {
                    window.location.href="/hospitalOne/login.html";
                }
            }
		</script>

	</head>
	<body>
	<div style="">
		<div id="top">
		<div id="top_logo">
			<img alt="logo" src="/hospitalOne/img/logo.jpg" width="280px" height="110%" style="vertical-align:middle;">
		</div>
		<div id="top_links">
			<div id="top_op">
				<ul>
					<li>
						<img alt="当前用户" src="/hospitalOne/images/common/user.jpg">：
						<span>admin</span>
					</li>
					<li>
						<img alt="今天是" src="/hospitalOne/images/common/date.jpg">：
						<span id="nowdate"></span>
					</li>
				</ul>
			</div>
			<div id="top_close">
				<a href="javascript:void(0);" onclick="logout();" target="_parent">
					<img alt="退出系统" title="退出系统" src="/hospitalOne/images/common/close.jpg" style="position: relative; top: 10px; left: 25px;">
				</a>
			</div>
		</div>
	</div>
		<div style="margin-top: 70px;width:100%;height:204mm;background-image:url(/hospitalOne/images/bgimg.jpg);background-size: 100% 100%;">
		<div id="content">
			<form>
			<header style="height: 50px; text-align: center; line-height:50px; font-weight: bold; font-size: 25px;">检&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;查&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;科</header>
			<table style="width: 100%;">
				<thead>
					<tr>
						<td colspan="4" align="center">
							<!--获取角色id-->
							<input type="hidden" name="roleInfoId" th:value="${session.roleInfo.roleInfoId}">
							<span>体检编号:</span>&nbsp;&nbsp;&nbsp;<input type="text" name="physicalExaminationId"  size="40" style="height:30px; font-size: 16px;"/>
							<input type="button" value="查询" class="select" style="margin-left: 10px; height: 30px; width: 60px; font-weight: bold;"/>
						</td>
					</tr>
					<tr>
						<td align="center">姓名:<label name="personName"/></td>
						<td align="center">年龄:<label  name="personAge"/></td>
						<td align="center">性别:<label  name="personSex"/></td>
						<td align="center">婚否:<label  name="isMarry"/></td>
					</tr>
				</thead>
			</table>
			<div style="width:100%; height: 500px;">
				<div style="width: 180px; height: 500px; float: left; margin-left: 100px;">
					<p align="center" style="color: red; font-size: 18px; margin-top: 16px; margin-bottom: 10px;">体&nbsp;检&nbsp;项</p>
					<input type="hidden" name="checkId">
					<ul  id="check">

					</ul>
				</div>
				<div style="width: 530px; height: 500px; float: right; margin-right: 250px;">
					<table style="width: 630px;">
						<thead>
							<tr>
								<td align="center">检查结果</td>
								<td align="center">结果建议</td>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td style="width: 350px;" id="checkResultFinally">
									<input type="hidden" name="checkResultFinally">
									<textarea style="width: 360px; height: 380px;"></textarea>
								</td>
								<td style="width: 350px;" id="checkAdvice">
									<textarea style="width: 360px; height: 380px;" id="test"></textarea>
								</td>
							</tr>
							<tr>
								<td colspan="2" align="center" style="line-height: 10px;">
									<input type="button" value="保存"  id="save" style="margin-left: 10px; height: 30px; width: 60px;  font-weight: bold;"/>
									<input type="reset" value="重置" style="margin-left: 10px; height: 30px; width: 60px;  font-weight: bold;"/>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			</form>
		</div>
		</div>
	</div>
	</body>
	<script>
		$(function(){
			$("ul").on("click",".checkli",function(){
                $(".checkli").removeClass("xuan");
				$(".checkli").css("background","white");
				$(this).addClass("xuan");
				$(this).css("background","red");
			});
		});
	</script>
</html>
