<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>指引单查询</title>
</head>
<body style="background-image: url(/hospitalOne/images/bgimg.jpg);background-size: 100% 100%;">
<div style="width: 80%;height: 174mm; margin: 0 auto; background-color: #f8f8f8;opacity: 0.8; ">
    <h2 style="display: block; text-align: center;letter-spacing: 15px;">太原市小店区三甲大院体检指引单查询</h2>
    <div style="margin-left:450px;margin-top: 50px">
        <input type="radio" name="geren" value="0" checked="checked"/>个人
        &nbsp;&nbsp;
        <input type="radio" name="geren" value="1"/>单位
        <p id="tijian">
            请输入体检编号:<input type="text" name="physicalExaminationId" value=""/>
            <input type="button" name="isSelect" value="查询"/>
        </p>
        <p id="shenfen" style="display: none;">
            请输入身份证号:<input type="text" name="personIdCard" value=""/>
            <input type="button" name="danwei" value="查询"/>
        </p>
        <p style="display: none; color: red;" id="xianshi">暂无信息</p>
    </div>
</div>
</body>
<script language="javascript" src="/hospitalOne/js/jquery-1.4.4.min.js"></script>
<script src="http://sandbox.runjs.cn/uploads/rs/499/ixc5vbvz/sweetswal.min.js"></script>
<link rel="stylesheet" type="text/css" href="http://sandbox.runjs.cn/uploads/rs/499/ixc5vbvz/sweetswal.css"/>
<script>
$("input[name=geren]").click(function () {
    //判断选择的类型
    var choose = $("input[name=geren]:checked").val();
    if(choose == 0){
        //个人
        $("#tijian").show();
        $("#shenfen").hide();
    }
    if(choose == 1){
        $("#tijian").hide();
        $("#shenfen").show();
    }
});

    /*查询个人按钮*/
    $("input[name=isSelect]").click(function () {
        var flat = true;
        var physicalExaminationId = $("input[name=physicalExaminationId]").val();
        if($.trim(physicalExaminationId) == ''){
            alert("请输入体检编号");
            flat = false;
            return false;
        }

        if(flat){
            var physicalExaminationId = $("input[name=physicalExaminationId]").val();
            localStorage.physicalExaminationId=physicalExaminationId;
            // localStorage["physicalExaminationId"]
            $.ajax({
                url: "/hospitalOne/selectByPhysicalExaminationId.do?physicalExaminationId="+physicalExaminationId,
                data:{},
                type: "get",
                dataType: "json",
                success: function (data) {
                    if(data>0){
                        //获取当前日期
                        var nowDate = getNowFormatDate();
                        //截取当前的体检日期
                        var thisDate = nowDate.substring(0,8);
                        //截取输入的体检日期
                        var tijian = physicalExaminationId.substring(0,8);
                        if(thisDate == tijian){
                            location.href = "/hospitalOne/Thebackend-page/thewaylist.html";
                        }else{
                            alert("请在指定日期前来打印");
                        }
                    }else{
                        $("#xianshi").show();
                    }

                }
            });
        }

    });

    //获取当前时间
    function getNowFormatDate() {
        var date = new Date();
        var month = date.getMonth() + 1;
        var strDate = date.getDate();
        if (month >= 1 && month <= 9) {
            month = "0" + month;
        }
        if (strDate >= 0 && strDate <= 9) {
            strDate = "0" + strDate;
        }
        var currentdate = date.getFullYear()+month+ strDate;
        return currentdate;
    }




/*查询单位按钮*/
    $("input[name=danwei]").click(function () {
        var flat = true;
        var personIdCard = $("input[name=personIdCard]").val();
        if($.trim(personIdCard) == ''){
            alert("请输入身份证号");
            flat = false;
            return false;
        }
        if(flat) {
            //身份证号
            var personIdCard = $("input[name=personIdCard]").val();
            localStorage.personIdCard = personIdCard;
            // localStorage["physicalExaminationId"]
            $.ajax({
                url: "/hospitalOne/personIdCard.do?personIdCard=" + personIdCard,
                data: {},
                type: "get",
                dataType: "json",
                success: function (data) {
                    if (data > 0) {
                        location.href = "/hospitalOne/Thebackend-page/DanWeiGuide.html";
                    }else{
                        $("#xianshi").show();
                    }
                }
            });
        }
    })
</script>
</html>