<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>科室维护</title>
	</head>

	<body>
		<h2 style="display: block; text-align: center;">科室维护</h2>
		<form>
		<table>
			<tr>
				<td style="text-align: right;" width="150mm">是否启用：</td>
				<td width="300mm">
					<input type="radio" value="1" name="yesorno" checked="checked" />是
					<input type="radio" value="0" name="yesorno" />否
				</td>
			</tr>
			<tr>
				<td style="text-align: right;" width="150mm">科室名称：</td>
				<td width="300mm">
					<input style="width: 200mm;" type="text" value="" name="yesorno" />
					
				</td>
			</tr>
			<tr>
				<td style="text-align: right;" width="150mm">是否启用：</td>
				<td width="300mm">
					<input type="radio" value="0" name="keshi" checked="checked" />检查
					<input type="radio" value="1" name="keshi" />检验
					<input type="radio" value="2" name="keshi" />功能性
				</td>
			</tr>
			<tr>
				<td style="text-align: right;" width="150mm">备注：</td>
				<td width="300mm">
					<textarea name="reamks" style="width: 200mm; height: 50mm;"></textarea>
				</td>
			</tr>
		</table>
		<input type="button" value="提交" />
		<input type="reset" value="重置" />
		</form>
	</body>

</html>