<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>科室维护</title>
	</head>

	<body style="background-image: url(../images/bgimg.jpg);background-size: 100% 100%; ">
		<div style=" width:80%;height:174mm;background-color: #f8f8f8; opacity: 0.8;text-align: center;margin: 0 auto;">
			
		
		<h2 style="display: block; text-align: center; letter-spacing: 15px;">科室维护</h2>
		<form id="">
		<table>
			<tr>
				<td style="text-align: right;" width="150mm">是否启用：</td>
				<input type="hidden" id="sectionid">
				<td width="300mm">
					<input type="radio" value="1" name="sectionStatus" checked="checked" />是
					<input type="radio" value="0" name="sectionStatus" />否
				</td>
			</tr>
			<tr>
				<td style="text-align: right;" width="150mm">科室名称：</td>
				<td width="300mm">
					<input style="width: 200mm;" type="text" value="" name="sectionName" />
					
				</td>
			</tr>
			<tr>
				<td style="text-align: right;" width="150mm">是否启用：</td>
				<td width="300mm">
					<input type="radio" value="0" name="sectionTypeId" checked="checked" />检查
					<input type="radio" value="1" name="sectionTypeId" />检验
					<input type="radio" value="2" name="sectionTypeId" />功能性
				</td>
			</tr>
			<tr>
				<td style="text-align: right;" width="150mm">备注：</td>
				<td width="300mm">
					<textarea name="remark" style="width: 200mm; height: 50mm;"></textarea>
				</td>
			</tr>
		</table>
		<input type="button" value="保存"  onclick="getinsertsection()"/>
		<input type="button" value="新增" onclick="resetInsert()" />
		</form>
		</div>
	</body>
	<script  type="text/javascript" src="/js/sectionwei.js"></script>
	<script type="text/javascript" src="/js/jquery-3.2.1.js"></script>
<script>
	$(function () {
        findByIds();
    })
</script>
</html>