<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>退费</title>
		<link rel="stylesheet" type="text/css" href="/css/Cashiers.css"/>
	</head>
	<body style="background-image: url(../images/bgimg.jpg);background-size: 100% 100%;">
		<div id="content">
			<header style="height: 50px; text-align: center; line-height:50px; font-weight: bold; font-size: 25px;">退&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;费</header>
			<table style="width: 100%;">
				<thead>
					<tr>
						<td colspan="4" align="center">
							<span>体检编号:</span>&nbsp;&nbsp;&nbsp;<input type="text" name="physical_examination_id" size="40" style="height:30px; font-size: 16px;"/>
							<input type="button" value="查询" style="margin-left: 10px; height: 30px; width: 60px; font-weight: bold;" onclick="sfysf()"/>
						</td>
					</tr>
					<tr>
						<td align="center" class="name">姓名:----</td>
						<td align="center" class="age">年龄:----</td>
						<td align="center" class="sex">性别:----</td>
						<td align="center" class="isMarry">婚否:----</td>
					</tr>
				</thead>
			</table>
			<table style="width: 100%;">
				<thead>
					<tr>
						<td align="center" style="font-size: 20px;">序号</td>
						<td align="center" style="font-size: 20px;">体检项</td>
						<td align="center" style="font-size: 20px;">单价</td>
					</tr>
				</thead>
				<tbody style="overflow-y: scroll; width: 100%; height: 200px; display: block;" class="checkList">
					<tr>
						<td align="center">----</td>
						<td align="center">----</td>
						<td align="center">----</td>
					</tr>
					<tr>
						<td colspan="3" align="center">暂无信息,请输入人员编号进行查询</td>
					</tr>
				</tbody>
				<tfoot style="display: block; margin-top: 35px;">
					<tr style="line-height: 30px;">
						<td colspan="3" style="text-indent: 40em;">
							未检项数量:&nbsp;&nbsp;<span class="number">--</span>
						</td>
					</tr>
					<tr style="line-height: 30px;">
						<td colspan="3" style="text-indent: 40em;">
							应退金额:&nbsp;&nbsp;<span class="shouldBeBack">---</span>
						</td>
					</tr>
					<tr style="line-height: 36px;">
						<td colspan="3" style="text-indent: 39em;"  class="operation">
							<input type="button" value="结算" style="margin-left: 10px; height: 30px; width: 60px;  font-weight: bold;" onclick="hint()"/>
						</td>
					</tr>
				</tfoot>
			</table>
		</div>
	</body>
	<script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
	<script type="text/javascript">


        function hint() {
            alert("请先查询人员信息！");
        }

        //判断是否已收费
		function sfysf() {
            var physical_examination_id = $("input[name=physical_examination_id]").val();
			$.ajax({
                url:"/getNumber.do",
                data:{physical_examination_id:physical_examination_id},
                dataType:"json",
                success:function (date) {
					if (date>0) {
                        getPersonInfo();
					}else{
                        var checkList = "<tr>\n" +
                            "\t\t\t\t\t\t<td align=\"center\">----</td>\n" +
                            "\t\t\t\t\t\t<td align=\"center\">----</td>\n" +
                            "\t\t\t\t\t\t<td align=\"center\">----</td>\n" +
                            "\t\t\t\t\t</tr>\n" +
                            "\t\t\t\t\t<tr>\n" +
                            "\t\t\t\t\t\t<td colspan=\"3\" align=\"center\">请收费后在进行退费</td>\n" +
                            "\t\t\t\t\t</tr>" ;
                        $(".checkList").html(checkList);
					}

				}
			})

        }

        //根据人员id查询体检信息
        function getPersonInfo() {
            var physical_examination_id = $("input[name=physical_examination_id]").val();
            $.ajax({
                url:"/getPersonInfoByPersonId.do",
                data:{physical_examination_id:physical_examination_id,physicalStatu:0},
                dataType:"json",
                success:function (date) {
                    if (date!=null){
                        $(".name").html("姓名:"+date.personName);
                        $(".age").html("年龄:"+date.personAge);
                        $(".sex").html("性别:"+date.personSex);
                        $(".isMarry").html("婚否:"+date.isMarry);
                        var checkList = "" ;
                        var number = 0 ;
                        var price = 0 ;
                        $.each(date.checkList,function (i,e) {
                            checkList += "<tr>\n" +
                                "\t\t\t\t\t\t<td align=\"center\">"+(i+1)+"</td>\n" +
                                "\t\t\t\t\t\t<td align=\"center\">"+e.checkName+"</td>\n" +
                                "\t\t\t\t\t\t<td align=\"center\">"+e.checkPrice+"</td>\n" +
                                "\t\t\t\t\t</tr>";
                            number += 1 ;
                            price += e.checkPrice ;
                        })
                        if (checkList==""){
                            checkList = "<tr>\n" +
                                "\t\t\t\t\t\t<td align=\"center\">----</td>\n" +
                                "\t\t\t\t\t\t<td align=\"center\">----</td>\n" +
                                "\t\t\t\t\t\t<td align=\"center\">----</td>\n" +
                                "\t\t\t\t\t</tr>\n" +
                                "\t\t\t\t\t<tr>\n" +
                                "\t\t\t\t\t\t<td colspan=\"3\" align=\"center\">无未体检项信息</td>\n" +
                                "\t\t\t\t\t</tr>" ;
                            $(".checkList").html(checkList);
                        }
                        $(".checkList").html(checkList);
                        $(".number").html(number);
                        $(".shouldBeBack").html(price);
                        getCostTypeByPersonId(date.personId);
                    } else {
                        $(".name").html("姓名:----");
                        $(".age").html("年龄:----");
                        $(".sex").html("性别:----");
                        $(".isMarry").html("婚否:----");
                        var checkList = "<tr>\n" +
                            "\t\t\t\t\t\t<td align=\"center\">----</td>\n" +
                            "\t\t\t\t\t\t<td align=\"center\">----</td>\n" +
                            "\t\t\t\t\t\t<td align=\"center\">----</td>\n" +
                            "\t\t\t\t\t</tr>\n" +
                            "\t\t\t\t\t<tr>\n" +
                            "\t\t\t\t\t\t<td colspan=\"3\" align=\"center\">暂无信息,请输入人员编号进行查询</td>\n" +
                            "\t\t\t\t\t</tr>" ;
                        $(".checkList").html(checkList);
                        alert("查询失败,请重新输如人员编号！");
                    }
                }
            })
        }

        //根据人员id查询该体检人是否已缴费/是否已退费
        function getCostTypeByPersonId(personId) {
            $.ajax({
                url:"/getCostTypeByPersonId.do",
                data:{personId:personId,costType:"退费"},
                dataType:"json",
                success:function (date) {
                    if (date!="退费"){
                        var str = "<input type=\"button\" value=\"结算\" style=\"margin-left: 10px; height: 30px; width: 60px;  font-weight: bold;\" onclick=\"operationCost()\"/>";
                        $(".operation").html(str)
                    }else{
                        var str = "<input type=\"button\" value=\"已结算\" style=\"margin-left: 10px; height: 30px; width: 60px;  font-weight: bold;\" onclick=\"operationCost()\" disabled=\"disabled\"/>";
                        $(".operation").html(str)
                    }
                }
            })
        }

        //结算
        function operationCost() {
            var physical_examination_id = $("input[name=physical_examination_id]").val();
            var shouldBeBack = $(".shouldBeBack").html();
            $.ajax({
                url:"/operationCost.do",
                data:{physical_examination_id:physical_examination_id,aggregate:shouldBeBack,physicalStatu:0},
                dataType:"json",
                success:function (date) {
                    if (date>0) {
                        alert("退费成功");
                        getPersonInfo();
                    }else{
                        alert("退费失败");
                    }
                }
            })
        }

	</script>
</html>
