<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>退费</title>
		<link rel="stylesheet" type="text/css" href="/css/Cashiers.css"/>
	</head>
	<body style="background-image: url(../images/bgimg.jpg);background-size: 100% 100%;">
		<div id="content">
			<header style="height: 50px; text-align: center; line-height:50px; font-weight: bold; font-size: 25px;">退&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;费</header>
			<table style="width: 100%;">
				<thead>
					<tr>
						<td colspan="4" align="center">
							<span>体检编号:</span>&nbsp;&nbsp;&nbsp;<input type="text" name="physical_examination_id" size="40" style="height:30px; font-size: 16px;"/>
							<input type="button" value="查询" style="margin-left: 10px; height: 30px; width: 60px; font-weight: bold;"/>
						</td>
					</tr>
					<tr>
						<td align="center">姓名:XXXX</td>
						<td align="center">年龄:XXXX</td>
						<td align="center">性别:XXXX</td>
						<td align="center">婚否:XXXX</td>
					</tr>
				</thead>
			</table>
			<table style="width: 100%;">
				<thead>
					<tr>
						<td align="center" style="font-size: 20px;">序号</td>
						<td align="center" style="font-size: 20px;">体检项</td>
						<td align="center" style="font-size: 20px;">单价</td>
					</tr>
				</thead>
				<tbody style="overflow-y: scroll; width: 100%; height: 200px; display: block;">
					<tr>
						<td align="center">1</td>
						<td align="center">血液</td>
						<td align="center">25</td>
					</tr>
					<tr>
						<td align="center">1</td>
						<td align="center">血液</td>
						<td align="center">25</td>
					</tr>
					<tr>
						<td align="center">1</td>
						<td align="center">血液</td>
						<td align="center">25</td>
					</tr>
					<tr>
						<td align="center">1</td>
						<td align="center">血液</td>
						<td align="center">25</td>
					</tr>
					<tr>
						<td align="center">1</td>
						<td align="center">血液</td>
						<td align="center">25</td>
					</tr>
					<tr>
						<td align="center">1</td>
						<td align="center">血液</td>
						<td align="center">25</td>
					</tr>
					<tr>
						<td align="center">1</td>
						<td align="center">血液</td>
						<td align="center">25</td>
					</tr>
				</tbody>
				<tfoot style="display: block; margin-top: 35px;">
					<tr style="line-height: 30px;">
						<td colspan="3" style="text-indent: 40em;">
							未检项数量:&nbsp;&nbsp;<span>5</span>
						</td>
					</tr>
					<tr style="line-height: 30px;">
						<td colspan="3" style="text-indent: 40em;">
							应退金额:&nbsp;&nbsp;<span>526.5</span>
						</td>
					</tr>
					<tr style="line-height: 36px;">
						<td colspan="3" style="text-indent: 39em;">
							<input type="button" value="结算" style="margin-left: 10px; height: 30px; width: 60px;  font-weight: bold;"/>
						</td>
					</tr>
				</tfoot>
			</table>
		</div>
	</body>
</html>
