<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>套餐维护</title>
	</head>

	<body>
		<div style="width: 60%; height: 297mm; background-color: red; margin: 0 auto;">
			<h2 style="display: block;text-align: center;">套餐</h2>
			<div>
				<table style="width: 600px;">
					<tbody>
						<tr>
							<td style="text-align: right;">是否启用：</td>
							<td><input type="radio" value="1" name="yesorno" />是</td>
							<td><input type="radio" value="0" name="yesorno" />否</td>
						</tr>
						<tr>
							<td style="text-align: right;">套餐名称：</td>
							<td colspan="2"><input type="text" name="tcName" value="" /></td>
						</tr>
						<tr>
							<td style="text-align: right;">备注：</td>
							<td colspan="2"><input type="text" name="shiyong" value="" /></td>
						</tr>
						<tr>
							<td style="text-align: right;">科普说明：</td>
							<td colspan="2">
								<textarea cols="50" rows="10"></textarea>
							</td>

						</tr>
					</tbody>
				</table>
			</div>
			<div style="width: 33.5%; height: 300px; background-color: green; float: left;overflow: auto; text-align: center;">
				<div style="text-align: center; line-height: 30px;">
					<a href="javaScript:void(0)">第一个科室</a>
				<hr />
				<a href="javaScript:void(0)">第er个科室</a>
				<hr />
				<a href="javaScript:void(0)">第san个科室</a>
				<hr />
				<a href="javaScript:void(0)">第一个科室</a>
				<hr />
				<a href="javaScript:void(0)">第er个科室</a>
				<hr />
				<a href="javaScript:void(0)">第san个科室</a>
				<hr />
				<a href="javaScript:void(0)">第一个科室</a>
				<hr />
				<a href="javaScript:void(0)">第er个科室</a>
				<hr />
				<a href="javaScript:void(0)">第san个科室</a>
				<hr />
				</div>
			</div>
			<div style="width: 33%; height: 300px; background-color: gray;float: left;overflow: auto;">
				<div style="text-align: center; line-height: 30px;">
					<input type="checkbox" />第一项
					<hr />
					<input type="checkbox" />第二项
					<hr />
					<input type="checkbox" />第二项
					<hr /><input type="checkbox" />第一项
					<hr />
					<input type="checkbox" />第二项
					<hr />
					<input type="checkbox" />第二项
					<hr /><input type="checkbox" />第一项
					<hr />
					<input type="checkbox" />第二项
					<hr />
					<input type="checkbox" />第二项
					<hr /><input type="checkbox" />第一项
					<hr />
					<input type="checkbox" />第二项
					<hr />
					<input type="checkbox" />第二项
					<hr /><input type="checkbox" />第一项
					<hr />
					<input type="checkbox" />第二项
					<hr />
					<input type="checkbox" />第二项
					<hr /><input type="checkbox" />第一项
					<hr />
					<input type="checkbox" />第二项
					<hr />
					<input type="checkbox" />第二项
					<hr /><input type="checkbox" />第一项
					<hr />
					<input type="checkbox" />第二项
					<hr />
					<input type="checkbox" />第二项
					<hr /><input type="checkbox" />第一项
					<hr />
					<input type="checkbox" />第二项
					<hr />
					<input type="checkbox" />第二项
					<hr /><input type="checkbox" />第一项
					<hr />
					<input type="checkbox" />第二项
					<hr />
					<input type="checkbox" />第二项
					<hr /><input type="checkbox" />第一项
					<hr />
					<input type="checkbox" />第二项
					<hr />
					<input type="checkbox" />第二项
					<hr /><input type="checkbox" />第一项
					<hr />
					<input type="checkbox" />第二项
					<hr />
					<input type="checkbox" />第二项
					<hr /><input type="checkbox" />第一项
					<hr />
					<input type="checkbox" />第二项
					<hr />
					<input type="checkbox" />第二项
					<hr /><input type="checkbox" />第一项
					<hr />
					<input type="checkbox" />第二项
					<hr />
					<input type="checkbox" />第二项
					<hr />
				</div>
			</div>
			<div style="width: 33.5%; height: 300px; background-color: greenyellow;float: left;overflow: auto;">
				<div style="text-align: center; line-height: 30px;">
					<label>已选择</label>
					<hr />
					<label>已选择</label>
					<hr />
					
					<label>已选择</label>
					<hr />
					<label>已选择</label>
					<hr />
					<label>已选择</label>
					<hr />
					<label>已选择</label>
					<hr />
					<label>已选择</label>
					<hr />
					<label>已选择</label>
					<hr />
					<label>已选择</label>
					<hr />
					<label>已选择</label>
					<hr />
					<label>已选择</label>
					<hr />
					<label>已选择</label>
					<hr />
					<label>已选择</label>
					<hr />
					<label>已选择</label>
					<hr />
				</div>
			</div>
			<div style="clear: both;">
				<input type="button" value="点击提交" />
			</div>
		</div>
	</body>

</html>