<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>体检项</title>

    </head>

	<body style="background-image: url(../images/bgimg.jpg);background-size: 100% 100%;">
	<form id="addform">
		<div style="width: 80%; height: 174mm;background-color: #f8f8f8; opacity: 0.8;text-align: center;margin: 0 auto;">
			<h2 style="display: block;text-align: center;letter-spacing: 15px;">体检项信息维护</h2>

			<table>
				<tr style="height: 50px;">
					<td style="text-align: right;" width="150mm">是否启用：</td>
					<td colspan="3" width="300mm">
						<input type="radio" value="1" name="isEnable" checked="checked"/>是
						<input type="radio" value="0" name="isEnable" />否
					</td>
				</tr>
				<tr style="height: 50px;">
					<td style="text-align: right;" width="150mm">所属科室：</td>
					<td colspan="3">
						<input type="text" readonly="readonly" id="sectionname" value=""/><input type="hidden" name="sectionId" value="">
					</td>
				</tr>
				<tr style="height: 50px;">
					<td style="text-align: right;" width="150mm">体检项名称：</td>
					<td><input type="text" name="checkName"  value="" /><input type="hidden" name="checkId" value=""><input type="hidden" id="ckid" value=""></td>
					<td style="text-align: right;">拼音简码：</td>
					<td><input type="text" name="checkSpellCode" value="" /></td>
				</tr>
				<tr style="height: 50px;">
					<td style="text-align: right;" width="150mm">适合性别：</td>
					<td colspan="3" width="300mm">
						<input type="radio" value="男" name="termSex" checked="checked"/>男
						<input type="radio" value="女" name="termSex" />女
					</td>
				</tr>
				<tr style="height: 50px;">
					<td style="text-align: right;" width="150mm">位置提示信息：</td>
					<td colspan="3"><input type="text" name="checkAddress" value="" /></td>
				</tr>

				<tr style="height: 50px;">
					<td style="text-align: right;" width="150mm">参考上限：</td>
					<td><input type="text" name="referenceCeil" value="" /></td>
					<td style="text-align: right;">参考下限：</td>
					<td><input type="text" name="referenceFloor" value="" /></td>
				</tr>
				<tr style="height: 50px;">
					<td style="text-align: right;" width="150mm">最大值：</td>
					<td><input type="text" name="maxValue" value="" /></td>
					<td style="text-align: right;">最小值：</td>
					<td><input type="text" name="minValue" value="" /></td>
				</tr>
				<tr style="height: 50px;">
					<td style="text-align: right;" width="150mm">偏高提示：</td>
					<td><input type="text" name="promptHigh" value="" /></td>
					<td style="text-align: right;">偏低提示：</td>
					<td><input type="text" name="promptFlat" value="" /></td>
				</tr>
				<tr style="height: 50px;">
					<td style="text-align: right;" width="150mm">备注：</td>
					<td colspan="3">
						<textarea cols="80" rows="10" name="remark">
						
						</textarea>
					</td>
				</tr>
			</table>
			<input type="button" value="提交" onclick="addandupd()">
			<input type="reset" value="重置" />
		</div>
		</form>
	</body>

    <script src="/js/jquery-3.2.1.js"></script>
	<script src="/js/tjx.js"></script>
</html>