<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
	<meta charset="UTF-8">
	<title>总检报告单</title>
</head>
<script language="javascript" src="/hospitalOne/js/jquery-1.4.4.min.js"></script>
<script language="javascript" src="/hospitalOne/js/jquery.jqprint-0.3.js"></script>
<script type="text/javascript" src="/hospitalOne/js/total.js"></script>
<script src="https://sandbox.runjs.cn/uploads/rs/499/ixc5vbvz/sweetalert.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://sandbox.runjs.cn/uploads/rs/499/ixc5vbvz/sweetalert.css"/>
<script>
    function aa(){
        $("#printInfo").jqprint();
    }
</script>
<body style="background-color: #f8f8f8;">
<div style="margin: 0 auto; width: 210mm;" id="printInfo">
	<h1 style="text-align: center; letter-spacing: 15px;">总检报告单</h1>
	<table style="width: 80%; margin: 0 auto;">
		<tr>
			<td>姓名：<label name="personName">白文鑫</label></td>
			<td>年龄：<label name="personAge">20</label></td>
			<td>性别：<label name="personSex">男</label></td>
			<td>婚否：<label name="isMarry">未婚</label></td>
		</tr>
	</table>
	<hr />
	<div id="jiancha">
		<table style="margin-left: 48px;">
			<tr>
				<td align="right">体检项：</td>
				<td>身高</td>
			</tr>
			<tr>
				<td align="right">体检结果：</td>
				<td>身高正常 170</td>
			</tr>
			<tr>
				<td align="right">建&nbsp;&nbsp;&nbsp;&nbsp;议：</td>
				<td>
					<div style="width:  150mm;">
						一天三包烟，10瓶酒、每天熬夜通宵
					</div>
				</td>
			</tr>
		</table>
		<hr />
		<table style="margin-left: 48px;">
			<tr>
				<td align="right">体检项：</td>
				<td>身高</td>
			</tr>
			<tr>
				<td align="right">体检结果：</td>
				<td>身高正常 170</td>
			</tr>
			<tr>
				<td align="right">建&nbsp;&nbsp;&nbsp;&nbsp;议：</td>
				<td>
					<div style="width:  150mm;">
						一天三包烟，10瓶酒、每天熬夜通宵
					</div>
				</td>
			</tr>
		</table>
		<hr />
		<table style="margin-left: 48px;">
			<tr>
				<td align="right">体检项：</td>
				<td>身高</td>
			</tr>
			<tr>
				<td align="right">体检结果：</td>
				<td>身高正常 170</td>
			</tr>
			<tr>
				<td align="right">建&nbsp;&nbsp;&nbsp;&nbsp;议：</td>
				<td>
					<div style="width:  150mm;">
						一天三包烟，10瓶酒、每天熬夜通宵
					</div>
				</td>
			</tr>
		</table>
		<hr />
	</div>
	<hr/>
	<table style="margin-left: 10mm;">
		<tr>
			<td style="font-size: 16px;" align="center">综述结果：</td>
			<td style="font-size: 16px;" align="center">综述建议：</td>
		</tr>
		<tr>
			<td>
				<textarea style="width: 90mm;height: 60mm;"></textarea>
			</td>
			<td>
				<textarea style="width: 90mm;height: 60mm;"></textarea>
			</td>
		</tr>
	</table>
	<hr/>
	<div style="font-size: 20px; margin-left: 100mm;line-height: 20mm;">
		医师签字：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 日期：<label id="Checkdate"></label>
	</div>
</div>
<div style="margin-left: 1000px">
	<input type="button" onclick="aa()" value="打印"/>
</div>
</body>
</html>