<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>单位信息维护</title>
		<link rel="stylesheet" type="text/css" href="/css/department.css" />
	</head>

	<body style="background-image: url(../images/bgimg.jpg);background-size: 100% 100%;">
		<div id="content">
			<header style="height: 50px; text-align: center; line-height:50px; font-weight: bold; font-size: 25px;">单&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;位&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;信&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;息&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;维&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;护</header>
			<table style="margin: 0 auto;">
				<form>
				<tbody>
						<tr>
							<th style="width: 100px;" align="right">单位名称:</th>
							<td align="center"><input type="text" name="physical_examination_id" size="40" style="height:30px; font-size: 16px;" placeholder="请输入单位名称" /></td>
							<th style="width: 100px;" align="right">拼音简码:</th>
							<td align="center"><input type="text" name="spell_code" size="40" style="height:30px; font-size: 16px;" placeholder="请输入拼音简码" /></td>
						</tr>
						<tr>
							<th style="width: 100px;" align="right">单位名称:</th>
							<td align="center"><input type="text" name="physical_examination_id" size="40" style="height:30px; font-size: 16px;" placeholder="请输入单位名称" /></td>
							<th style="width: 100px;" align="right">拼音简码:</th>
							<td align="center"><input type="text" name="spell_code" size="40" style="height:30px; font-size: 16px;" placeholder="请输入拼音简码" /></td>
						</tr>
						<tr>
							<th style="width: 100px;" align="right">单位负责人:</th>
							<td align="center"><input type="text" name="company_principal" size="40" style="height:30px; font-size: 16px;" placeholder="请输入单位负责人" /></td>
							<th style="width: 100px;" align="right">联系电话:</th>
							<td align="center"><input type="text" name="telephone" size="40" style="height:30px; font-size: 16px;" placeholder="请输入联系电话" /></td>
						</tr>
						<tr>
							<th style="width: 100px;" align="right">邮政编码:</th>
							<td align="center"><input type="text" name="postal_code" size="40" style="height:30px; font-size: 16px;" placeholder="请输入邮政编码" /></td>
							<th style="width: 100px;" align="right">联系地址:</th>
							<td align="center"><input type="text" name="address" size="40" style="height:30px; font-size: 16px;" placeholder="请输入联系地址" /></td>
						</tr>
						<tr>
							<th style="width: 100px;" align="right">银行名称:</th>
							<td align="center"><input type="text" name="bank_name" size="40" style="height:30px; font-size: 16px;" placeholder="请输入业务银行名称" /></td>
							<th style="width: 100px;" align="right">银行账号:</th>
							<td align="center"><input type="text" name="bank_number" size="40" style="height:30px; font-size: 16px;" placeholder="请输入银行账号" /></td>
						</tr>
						<tr>
							<th style="width: 100px;" align="right">企业性质:</th>
							<td align="center"><input type="text" name="company_nature" size="40" style="height:30px; font-size: 16px;" placeholder="请输入企业性质" /></td>
							<th style="width: 100px;" align="right">编制人数:</th>
							<td align="center"><input type="text" name="authorized_strength" size="40" style="height:30px; font-size: 16px;" placeholder="请输入编制人数" /></td>
						</tr>
						<tr>
							<th style="width: 100px;" align="right">备注:</th>
							<td align="center"><textarea cols="44" rows="10" placeholder="请输入备注信息" style="font-size: 15px; font-weight: bold;"></textarea></td>
							<th style="width: 100px;" align="right">是否删除:</th>
							<td align="left">
								&nbsp;&nbsp;&nbsp;<input type="radio" name="is_delete" value="1" />是&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								<input type="radio" name="is_delete" value="0" />否
							</td>
						</tr>
				</tbody>
				<tfoot>
					<tr>
						<td colspan="4" align="center">
							<input type="button" value="查询" style="margin-left: 10px; height: 30px; width: 60px; font-weight: bold;" />
							<input type="reset" value="重置" style="margin-left: 10px; height: 30px; width: 60px; font-weight: bold;" />
						</td>
					</tr>
				</tfoot>
				</form>
			</table>

		</div>
	</body>

</html>