<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>组合项</title>
	</head>
	<body style="background-image: url(../images/bgimg.jpg);background-size: 100% 100%;">
		<div style="width: 80%; height: 297mm; margin: 0 auto;background-color: #f8f8f8; opacity: 0.8;">
			<h2 style="display: block;text-align: center;">组合项信息维护</h2>
			<div>
				<table style="height: 300px;">
					<tr>
						<td style="width: 150px; text-align: right;">是否启用：</td>
						<td><input type="radio" value="1" name="yesorno" />是</td>
						<td><input type="radio" value="1" name="yesorno" />否</td>
					</tr>
					<tr>
						<td style="width: 150px; text-align: right;">所属科室：</td>
						<td colspan="2" >
							<input type="text" readonly="readonly" name="" value="" />
						</td>
					</tr>
					<tr>
						<td style="width: 150px; text-align: right;">组合项名称：</td>
						<td><input type="text" name="" value=""/></td>
						<td>拼音简码：<label>xxx</label></td>
					</tr>
					<tr>
						<td style="width: 150px; text-align: right;">适合性别：</td>
						<td><input type="radio" value="1" name="sex" />男</td>
						<td><input type="radio" value="1" name="sex" />女</td>
					</tr>
					<tr>
						<td style="width: 150px; text-align: right;">所属科室：</td>
						<td colspan="2" >
							<input type="text" name="" value="" />
						</td>
					</tr>
					<tr>
						<td style="width: 150px; text-align: right;">是否需要标本：</td>
						<td><input type="radio" value="1" name="s" />是</td>
						<td><input type="radio" value="1" name="s" />否</td>
					</tr>
					<tr>
						<td style="width: 150px; text-align: right;">所属科室：</td>
						<td colspan="2" >
							<input type="text" name="" value="" />
						</td>
					</tr>
				</table>
			</div>
			<div style="margin-top: 50px;"><table style="width: 100%; height: 200px;">
				<thead>
					<tr>
						<td>体检项1</td>
						<td>体检项2</td>
						<td>体检项3</td>
						<td>checkbox</td>
						<td>checkbox</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><input type="checkbox" name="1" value="" />体检项1</td>
						<td><input type="checkbox" name="1" value="" />体检项2</td>
						<td><input type="checkbox" name="1" value="" />体检项3</td>
						<td><input type="checkbox" name="1" value="" />checkbox</td>
						<td><input type="checkbox" name="1" value="" />checkbox</td>
					</tr>
					<tr>
						<td><input type="checkbox" name="1" value="" />体检项1</td>
						<td><input type="checkbox" name="1" value="" />体检项2</td>
						<td><input type="checkbox" name="1" value="" />体检项3</td>
						<td><input type="checkbox" name="1" value="" />checkbox</td>
						<td><input type="checkbox" name="1" value="" />checkbox</td>
					</tr>
					<tr>
						<td><input type="checkbox" name="1" value="" />体检项1</td>
						<td><input type="checkbox" name="1" value="" />体检项2</td>
						<td><input type="checkbox" name="1" value="" />体检项3</td>
						<td><input type="checkbox" name="1" value="" />checkbox</td>
						<td><input type="checkbox" name="1" value="" />checkbox</td>
					</tr>
					<tr>
						<td><input type="checkbox" name="1" value="" />体检项1</td>
						<td><input type="checkbox" name="1" value="" />体检项2</td>
						<td><input type="checkbox" name="1" value="" />体检项3</td>
						<td><input type="checkbox" name="1" value="" />checkbox</td>
						<td><input type="checkbox" name="1" value="" />checkbox</td>
					</tr>
					
				</tbody>
			</table></div>
			<input type="button" value="点击提交" />
		</div>
	</body>
</html>
