<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>组合项</title>

	</head>
	<body style="background-image: url(../images/bgimg.jpg);background-size: 100% 100%;">
	<form id="addform">
		<div style="width: 80%; height: 174mm; margin: 0 auto;background-color: #f8f8f8; opacity: 0.8;">
			<h2 style="display: block;text-align: center;letter-spacing: 15px;">组合项信息维护</h2>
			<div>
				<table style="height: 300px;">
					<tr>
						<td style="width: 150px; text-align: right;">是否启用：</td>
						<td><input type="radio" value="1" name="isEnable" checked="checked"/>是</td>
						<td><input type="radio" value="0" name="isEnable" />否</td>
					</tr>
					<tr>
						<td style="width: 150px; text-align: right;">所属科室：</td>
						<td colspan="2" >
							<input type="text" readonly="readonly" id="sectionname" value="" /><input type="hidden" name="sectionId">
						</td>
					</tr>
					<tr>
						<td style="width: 150px; text-align: right;">组合项名称：</td>
						<td><input type="text" name="combinationName"/><input type="hidden" name="combinationId"><input type="hidden" id="cmbid"></td>
						<td>拼音简码：<label>xxx</label></td>
					</tr>
					<tr>
						<td style="width: 150px; text-align: right;">提示信息：</td>
						<td colspan="2" >
							<input type="text" name="promptInformation"/>
						</td>
					</tr>
					<tr>
						<td style="width: 150px; text-align: right;">获取结果方式：</td>
						<td colspan="2" >
							<input type="text" name="resultToWay"/>
						</td>
					</tr>
					<tr>
						<td style="width: 150px; text-align: right;">是否需要标本：</td>
						<td><input type="radio" value="1" name="isSpecimen" checked="checked"/>是</td>
						<td><input type="radio" value="0" name="isSpecimen" />否</td>
					</tr>
					<tr>
						<td style="width: 150px; text-align: right;">标本类型：</td>
						<td colspan="2" >
							<input type="text" name="specimenType"/>
						</td>
					</tr>
				</table>
			</div>
			<div style="margin-top: 50px;margin-left: 5%">
				<table style="width: 100%; height: 200px;">
				<thead>
				</thead>
				<tbody id="content">
				</tbody>
			</table></div>
			<div style="text-align: center">
				<input type="button" value="点击提交" onclick="addandupd()"/>
			</div>
		</div>
	</form>
	</body>
	<script src="/js/jquery-3.2.1.js"></script>
<script src="/js/zhx.js"></script>
</html>
