*{
	margin: 0px;
	padding: 0px;
}

/*页面主体div*/
#content{
	width: 80%;
	height:700px;
	margin: 0 auto;
	background-color: #f8f8f8;
	opacity: 0.8;
}
/**
 * 设置tr行高
 */
#content tr{
	line-height: 50px;
}

 /*关键设置 tbody出现滚动条*/
             table tbody {
                display: block;
                height: 80px;
                overflow-y: scroll;
            }
            table thead,
            tbody tr {
                display: table;
                width: 100%;
               table-layout: fixed;
            }
            /*关键设置：滚动条默认宽度是16px 将thead的宽度减16px*/
            table thead {
                width: calc( 100% - 1em)
            }
            table thead th {
               background: #ccc;
           }