*{
	margin: 0px;
	padding: 0px;
}

/*页面主体div*/
#content{
	width: 80%;
	height:700px;
	margin: 0 auto;
	opacity: 0.8;
}
/**
 * 设置tr行高
 */
#content tr{
	line-height: 50px;
}

#content ul li{
	width: 180px;
	font-size: 18px;
	text-align: center;
	list-style-type: none;
	line-height: 50px;
}

#content a{
	text-decoration: none;
	color: black;
}
