<!DOCTYPE html>
<html lang="zh-CN">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>SCT-总检医生</title>
		<link href="/style/authority/main_css.css" rel="stylesheet" type="text/css" />
		<link href="/style/authority/zTreeStyle.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="/css/layui.css" />
		<!--<script type="text/javascript" src="../scripts/jquery/jquery-1.7.1.js"></script>-->
		<script type="text/javascript" src="/js/jquery-3.2.1.js"></script>
		<script type="text/javascript" src="/scripts/zTree/jquery.ztree.core-3.2.js"></script>
		<script type="text/javascript" src="/scripts/authority/commonAll.js"></script>
		<script src="/js/nowdate.js"></script>
		<script type="text/javascript" src="/layui.js"></script>
		<script>
			var element;
			layui.use('element', function() {
				element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块
				//监听导航点击
				element.on('nav(demo)', function(elem) {
					//console.log(elem)
					layer.msg(elem.text());
				});
			});
		</script>
		<script type="text/javascript">
			/**退出系统**/
			function logout() {
				if(confirm("您确定要退出本系统吗？")) {
					window.location.href = "login.html";
				}
			}
		</script>
	</head>
	<body onload="getDate01()">
		<div style="background-image:url(/images/bgimg.jpg);background-size: 100% 100%;">
			<div id="top">
				<div id="top_logo">
					<img alt="logo" src="/img/logo.jpg" width="280px" height="110%" style="vertical-align:middle;">
				</div>
				<div id="top_links">
					<div id="top_op">
						<ul>
							<li>
								<img alt="当前用户" src="/images/common/user.jpg">：
								<span>admin</span>
							</li>
							<li>
								<img alt="今天是" src="/images/common/date.jpg">：
								<span id="nowdate"></span>
							</li>
						</ul>
					</div>
					<div id="top_close">
						<a href="javascript:void(0);" onclick="logout();" target="_parent">
							<img alt="退出系统" title="退出系统" src="/images/common/close.jpg" style="position: relative; top: 10px; left: 25px;">
						</a>
					</div>
				</div>
			</div>
			
			
			<div id="main" style="position: absolute;
	left: 10px;
	top: 70px;
	bottom: 0px;
	right: 0px;
	width: auto;
	z-index: 2;
	overflow: hidden;">
				<iframe name="right" id="rightMain" src="/Thebackend-page/AlwaysCheck.html" frameborder="no" scrolling="auto" width="100%" height="100%" allowtransparency="true" />
			</div>
		</div>
	</body>

</html>