<!DOCTYPE html>
<html lang="zh-CN">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>SCT-科室医生</title>
	<link href="/hospitalOne/style/authority/main_css.css" rel="stylesheet" type="text/css" />
	<link href="/hospitalOne/style/authority/zTreeStyle.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" type="text/css" href="/hospitalOne/css/department.css"/>

	<link rel="stylesheet" href="/hospitalOne/css/layui.css" />
	<!--<script type="text/javascript" src="../scripts/jquery/jquery-1.7.1.js"></script>-->
	<script type="text/javascript" src="/hospitalOne/js/jquery-3.2.1.js"></script>
	<script type="text/javascript" src="/hospitalOne/scripts/zTree/jquery.ztree.core-3.2.js"></script>
	<script type="text/javascript" src="/hospitalOne/scripts/authority/commonAll.js"></script>
	<script src="/hospitalOne/js/nowdate.js"></script>
	<script type="text/javascript" src="/hospitalOne/layui.js"></script>
	<script src="https://sandbox.runjs.cn/uploads/rs/499/ixc5vbvz/sweetalert.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://sandbox.runjs.cn/uploads/rs/499/ixc5vbvz/sweetalert.css"/>
	<script>
        var element;
        layui.use('element', function() {
            element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块

            //监听导航点击
            element.on('nav(demo)', function(elem) {
                //console.log(elem)
                layer.msg(elem.text());
            });
        });
	</script>
	<script type="text/javascript">
		$(function () {
			$("ul li").on("click",function () {
				$("ul li")
            });
        });
        /**退出系统**/
        function logout() {
            swal({
                    title: "您确定要退出本系统吗？",
                    text: "",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "确定",
                    closeOnConfirm: false
                },
                function(){
                    window.location.href = "logout.do";
                });
        }
	</script>

</head>

<body>
<div style="">
	<div id="top">
		<div id="top_logo">
			<img alt="logo" src="/hospitalOne/images/common/logo.jpg" width="274" height="49" style="vertical-align:middle;">
		</div>
		<div id="top_links">
			<div id="top_op">
				<ul>
					<!--<li>-->
						<!--<img alt="当前用户" src="/hospitalOne/images/common/user.jpg">：-->
						<!--<span>admin</span>-->
					<!--</li>-->
					<li>
						<img alt="今天是" src="/hospitalOne/images/common/date.jpg">：
						<span id="nowdate"></span>
					</li>
				</ul>
			</div>
			<div id="top_close">
				<a href="javascript:void(0);" onclick="logout();" target="_parent">
					<img alt="退出系统" title="退出系统" src="/hospitalOne/images/common/close.jpg" style="position: relative; top: 10px; left: 25px;">
				</a>
			</div>
		</div>
	</div>
	<div style="margin-top: 70px;width:100%;height:700px;background-image:url(/images/bgimg.jpg);background-size: 100% 100%;">
		<div id="content">
			<header style="height: 50px; text-align: center; line-height:50px; font-weight: bold; font-size: 25px;">检&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;查&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;科</header>
			<table style="width: 100%;">
				<thead>
				<tr>
					<td colspan="4" align="center">
						<span>体检编号:</span>&nbsp;&nbsp;&nbsp;<input type="text" name="physical_examination_id" size="40" style="height:30px; font-size: 16px;"/>
						<input type="button" value="查询" style="margin-left: 10px; height: 30px; width: 60px; font-weight: bold;"/>
					</td>
				</tr>
				<tr>
					<td align="center">姓名:XXXX</td>
					<td align="center">年龄:XXXX</td>
					<td align="center">性别:XXXX</td>
					<td align="center">婚否:XXXX</td>
				</tr>
				</thead>
			</table>
			<div style="width:100%; height: 500px;">
				<div style="width: 180px; height: 500px; float: left; margin-left: 100px;">
					<p align="center" style="color: red; font-size: 18px; margin-top: 16px; margin-bottom: 10px;">体&nbsp;检&nbsp;项</p>
					<ul>
						<a href="#"><li>体重</li></a>
						<a href="#"><li>身高</li></a>
						<a href="#"><li>视力</li></a>
						<a href="#"><li>听力</li></a>
						<a href="#"><li>肺活量</li></a>
					</ul>
				</div>
				<div style="width: 730px; height: 500px; float: right; margin-right: 100px;">
					<table style="width: 730px;">
						<thead>
						<tr>
							<td align="center">检查结果</td>
							<td align="center">结果建议</td>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td style="width: 360px;" id="result">
								<textarea style="width: 360px; height: 380px;">123</textarea>
							</td>
							<td style="width: 360px;" id="jianyi">
								<textarea style="width: 360px; height: 380px;">123</textarea>
							</td>
						</tr>
						<tr>
							<td colspan="2" align="center" style="line-height: 10px;">
								<input type="button" value="保存" style="margin-left: 10px; height: 30px; width: 60px;  font-weight: bold;"/>
								<input type="button" value="重置" style="margin-left: 10px; height: 30px; width: 60px;  font-weight: bold;"/>
							</td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<!--<div id="main" style="margin-left: -200px; background-image: url(../images/bgimg.jpg);background-size: 100% 100%;">
        <iframe name="right" id="rightMain" src="../Thebackend-page/department.html" frameborder="no" scrolling="auto" width="100%" height="100%" allowtransparency="true" />
    </div>-->
</div>
</body>

</html>