<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dyhc.hospitalmanager.dao.ArchivesMapper">

    <!--根据用户id查询档案信息-->
    <select id="getArchivesByPerssonId" resultType="com.dyhc.hospitalmanager.pojo.Archives">
        SELECT * FROM archives WHERE person_id=#{personId}
    </select>

    <!--查询档案编号的最后一位 倒序排序-->
    <select id="getArchivesIdByDesc" resultType="com.dyhc.hospitalmanager.pojo.Archives">
        SELECT * FROM archives ORDER BY archives_id DESC LIMIT 1
    </select>

    <!--添加档案信息-->
    <insert id="addArchivesInfo">
    INSERT INTO archives VALUES(#archivesId,#personId,NOW())
    </insert>



</mapper>