<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dyhc.hospitalmanager.dao.CheckMapper">

    <!--根据体检项id查出体检项数据，与接收的数据进行对比-->
   <select id="getCheckById" resultType="com.dyhc.hospitalmanager.pojo.Check">
       SELECT * FROM `check` WHERE check_id=#{checkId} AND `is_enable`=1
   </select>

<!--添加体检项信息-->
    <insert id="addCheckInfo">
        insert into `check` values (null,#{sectionId},#{checkName},#{termSex},#{checkSpellCode},#{checkPrice},#{checkAddress},#{unit},#{referenceFloor},#{referenceCeil},#{promptFlat},#{promptHigh},#{minValue},#{maxValue},#{remark},1)
    </insert>

    <!--根据体检项id查询体检项信息-->
    <select id="getAllCheckInfoById" resultType="com.dyhc.hospitalmanager.pojo.Check">
       SELECT * FROM `check` WHERE check_id=#{checkId}
   </select>

    <!--修改体检信息-->
    <update id="updCheckInfo">
      update  `check` set  section_id=#{sectionId},check_name=#{checkName},term_sex=#{termSex},check_spell_code=#{checkSpellCode},
      check_address=#{checkAddress},reference_floor=#{referenceFloor},reference_ceil=#{referenceCeil},prompt_flat=#{promptFlat},prompt_high=#{promptHigh},min_value=#{minValue},max_value=#{maxValue},remark=#{remark},
      is_enable=#{isEnable} where check_id=#{checkId}
    </update>

    <select id="getCheckList" resultMap="getRc">
      SELECT  a.*,me.*,me.`unit` AS eunit,comr.*,pd.*  FROM(SELECT c.* FROM `physical_examination` pe
      INNER JOIN `physical_examination_and_package` pep
      ON pe.`physical_examination_id` = pep.`physical_examination_id`
      INNER JOIN `package_and_ combination` pac ON pep.`package_id` = pac.`package_id`
      INNER JOIN `combination_and_ check` cac ON pac.`combination_id` = cac.`combination_id`
      INNER JOIN `check` c ON cac.`check_id` = c.`check_id`
      WHERE pe.`physical_examination_id` =#{physicalExaminationId}
      UNION
      SELECT c.* FROM `physical_examination` pe
      INNER JOIN `physical_examination_and_package` peap
      ON pe.`physical_examination_id` = peap.`physical_examination_id`
      INNER JOIN `package_and_ check` pac ON peap.package_id = pac.package_id
      INNER JOIN `check` c ON c.`check_id` = pac.check_id
      WHERE peap.physical_examination_id =#{physicalExaminationId}
      UNION
      SELECT c.* FROM `physical_examination` pe
      INNER JOIN `physical_examination_and_ combination` pac ON pe.`physical_examination_id` = pac.`physical_examination_id`
      INNER JOIN `combination_and_ check` cac ON pac.`combination_id` = cac.`combination_id`
      INNER JOIN `check` c ON cac.`check_id` = c.`check_id`
      WHERE pe.`physical_examination_id` = #{physicalExaminationId}
      UNION
      SELECT c.* FROM `physical_examination` pe
      INNER JOIN `physical_examination_and_ check` peac ON pe.`physical_examination_id` = peac.`physical_examination_id`
      INNER JOIN `check` c ON peac.`check_id` = c.`check_id`
      WHERE pe.`physical_examination_id` =#{physicalExaminationId}) a
      INNER JOIN `check_result` cr ON cr.`check_id` = a.check_id
      LEFT JOIN `medical_events` me ON cr.`check_result _id` = me.`check_result_id`
      LEFT JOIN common_results  comr ON  cr.check_result_finally=comr.common_results_id
      LEFT JOIN proposed_description pd ON pd.proposed_description_id=cr.`check_advice`
  WHERE cr.`physical_examination_id` = #{physicalExaminationId}
    </select>

    <resultMap id="getRc" type="com.dyhc.hospitalmanager.pojo.Check">
        <id column="check_id" property="checkId"/>
        <association property="commonResults" javaType="com.dyhc.hospitalmanager.pojo.CommonResults">
            <id column="common_results_id" property="commonResultsId"/>
        </association>
        <association property="proposedDescription" javaType="com.dyhc.hospitalmanager.pojo.ProposedDescription">
            <id column="proposed_description_id" property="proposedDescriptionId"/>
        </association>
        <collection property="medicalEventsList" javaType="com.dyhc.hospitalmanager.pojo.MedicalEvents">
            <id column="medical_events_id" property="medicalEventsId"/>
            <result column="eunit" property="unit"/>
        </collection>
    </resultMap>

    <!--根据体检编号查询人员在该科室下的体检项和组合项-->
   <select id="getPersonCheckBySectionId" resultType="com.dyhc.hospitalmanager.pojo.Check">
       SELECT * FROM (
        SELECT c.* FROM `physical_examination` pe
        INNER JOIN `physical_examination_and_package` pep
        ON pe.`physical_examination_id` = pep.`physical_examination_id`
        INNER JOIN `package_and_ combination` pac ON pep.`package_id` = pac.`package_id`
        INNER JOIN `combination_and_ check` cac ON pac.`combination_id` = cac.`combination_id`
        INNER JOIN `check` c ON cac.`check_id` = c.`check_id`
        WHERE pe.`physical_examination_id` = #{peacId}
        UNION
        SELECT c.* FROM `physical_examination` pe
        INNER JOIN `physical_examination_and_package` peap
        ON pe.`physical_examination_id` = peap.`physical_examination_id`
        INNER JOIN `package_and_ check` pac ON peap.package_id = pac.package_id
        INNER JOIN `check` c ON c.`check_id` = pac.check_id
        WHERE peap.physical_examination_id = #{peacId}
        UNION
        SELECT c.* FROM `physical_examination` pe
        INNER JOIN `physical_examination_and_ combination` pac ON pe.`physical_examination_id` = pac.`physical_examination_id`
        INNER JOIN `combination_and_ check` cac ON pac.`combination_id` = cac.`combination_id`
        INNER JOIN `check` c ON cac.`check_id` = c.`check_id`
        WHERE pe.`physical_examination_id` = #{peacId}
        UNION
        SELECT c.* FROM `physical_examination` pe
        INNER JOIN `physical_examination_and_ check` peac ON pe.`physical_examination_id` = peac.`physical_examination_id`
        INNER JOIN `check` c ON peac.`check_id` = c.`check_id`
        WHERE pe.`physical_examination_id` = #{peacId}) AS p
        WHERE p.section_id = #{sectionId}
   </select>

    <!-- 查询所有体检项 -->
    <select id="getAllCheckList" resultType="com.dyhc.hospitalmanager.pojo.Check">
        SELECT * FROM `check`
        WHERE is_enable = 1
    </select>

    <!-- 根据体检编号查询体检项信息 -->
    <select id="getCheckByPhysicalExaminationId" resultType="com.dyhc.hospitalmanager.pojo.Check">
        SELECT * FROM `check` WHERE `check_id` IN
        (SELECT `check_id` FROM `physical_examination_and_ check`
        WHERE `physical_examination_id` = #{physicalExaminationId})
    </select>

    <!-- 根据体检编号查询所有体检项信息 -->
    <select id="getCheckByPhysicalExaminationIdList" resultType="com.dyhc.hospitalmanager.pojo.Check">
        SELECT * FROM `check` WHERE `check_id`
        IN (SELECT `check_id` FROM `package_and_ check` WHERE `package_id` IN
        (SELECT `package_id` FROM `package` WHERE `package_id` IN
        (SELECT `package_id` FROM  `physical_examination_and_package`
        WHERE `physical_examination_id` = #{physicalExaminationId} AND `physical_statu` = #{physicalStatu})) UNION
        SELECT `check_id` FROM `combination_and_ check` WHERE `combination_id`
        IN(SELECT `combination_id` FROM `package_and_ combination` WHERE `package_id`
        IN (SELECT `package_id` FROM `package` WHERE `package_id` IN
        (SELECT `package_id` FROM  `physical_examination_and_package`
        WHERE `physical_examination_id` = #{physicalExaminationId} AND `physical_statu` = #{physicalStatu}))) UNION
        SELECT `check_id` FROM `physical_examination_and_ check`
        WHERE `physical_examination_id` = #{physicalExaminationId} AND `physical_statu` = #{physicalStatu})
    </select>

    <!-- 根据科室编号查询体检项信息 -->
    <select id="getCheckListBySectionId" resultType="com.dyhc.hospitalmanager.pojo.Check">
        SELECT * FROM `check` WHERE `section_id` = #{sectionId}
    </select>

</mapper>