<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dyhc.hospitalmanager.dao.CheckMapper">
    <!--根据体检项id查出体检项数据，与接收的数据进行对比-->
   <select id="getCheckById">
       SELECT * FROM `check` WHERE check_id=#{checkId}
   </select>

<!--添加体检项信息-->
    <insert id="addCheckInfo">
        insert into `check` values (null,#{sectionId},#{checkName},#{termSex},#{checkSpellCode},#{checkPrice},#{checkAddress},#{unit},#{referenceFloor},#{referenceCeil},#{promptFlat},#{promptHigh},#{minValue},#{maxValue},#{remark},1)
    </insert>

    <!--修改体检信息-->
    <update id="updCheckInfo">
      update into `check`set section_id=#{sectionId},check_name=#{checkName},term_sex=#{termSex},check_spell_code=#{checkSpellCode},check_price=#{checkPrice},
      check_address=#{checkAddress},unit=#{unit},reference_floor=#{referenceFloor},reference_ceil=#{referenceCeil},prompt_flat=#{promptFlat},prompt_high=#{promptHigh},min_value=#{minValue},max_value=#{maxValue},remark=#{remark},
is_enable=1 where check_id=#{checkId}
    </update>
</mapper>