<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dyhc.hospitalmanager.dao.CheckResultMapper">
   <!--将体检结果插入体检结果表中-->
    <insert id="addCheckResult">
       INSERT INTO `check_result` VALUES(NULL,#{physicalExaminationId},#{checkId},#{roleInfoId},now(),#{checkResultFinally},#{checkAdvice})
   </insert>
    <!--根据体检编号和体检项ID查询体检结果表-->
    <select id="getCheckResultsList" resultType="com.dyhc.hospitalmanager.pojo.CheckResult">
          SELECT * FROM check_result INNER JOIN `proposed_description` ON check_result.`check_advice`=proposed_description.`proposed_description_id`
          WHERE check_id=#{checkId} AND physical_examination_id=#{physicalExaminationId}
    </select>
    <!--体检结果和检验明细与建议显示在页面-->
    <select id="getCheckResultAndMedicalEvents" resultType="com.dyhc.hospitalmanager.pojo.CheckResult">
        SELECT * FROM medical_events,check_result INNER JOIN  proposed_description
        WHERE   proposed_description.`proposed_description_id`=check_result.`check_advice`
        AND check_result.`check_result _id`=medical_events.`check_result _id`
    </select>
</mapper>