<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dyhc.hospitalmanager.dao.CheckResultMapper">
   <!--将体检结果插入体检结果表中-->
    <insert id="addCheckResult">
       INSERT INTO `check_result` VALUES(NULL,#{physicalExaminationId},#{checkId},#{roleInfoId},now(),#{checkResultFinally},#{checkAdvice})
   </insert>
    <!--根据体检编号和体检项ID查询体检结果表-->
    <select id="getCheckResultsList" resultType="com.dyhc.hospitalmanager.pojo.CheckResult">
          SELECT * FROM check_result INNER JOIN `proposed_description` ON check_result.`check_advice`=proposed_description.`proposed_description_id`
          WHERE check_id=#{checkId} AND physical_examination_id=#{physicalExaminationId}
    </select>
    <!--体检结果和检验明细与建议显示在页面-->
    <select id="getCheckResultAndMedicalEvents" resultType="com.dyhc.hospitalmanager.pojo.CheckResult">
        SELECT * FROM medical_events,check_result INNER JOIN  proposed_description
        WHERE   proposed_description.`proposed_description_id`=check_result.`check_advice`
        AND check_result.`check_result _id`=medical_events.`check_result _id`
    </select>
    <!--通过体检编号查询常见结果以及建议-->
    <select id="getCheckResults" resultMap="getResult">
        SELECT * FROM `check_result` cr
LEFT JOIN `common_results` comre ON cr.check_result_finally=comre.common_results_id
LEFT JOIN `proposed_description` pd ON pd.`result_id` = comre.`common_results_id`
INNER JOIN `medical_events` me ON me.`check_result _id` = cr.`check_result _id`
WHERE cr.`physical_examination_id` =#{physicalExaminationId}
    </select>
    <resultMap id="getResult" type="com.dyhc.hospitalmanager.pojo.CheckResult">
        <association property="commonResults" javaType="com.dyhc.hospitalmanager.pojo.CommonResults">
            <id column="common_results_id" property="commonResultsId"/>
            <association property="proposedDescription" javaType="com.dyhc.hospitalmanager.pojo.ProposedDescription">
                <id column="proposed_description_id" property="proposedDescriptionId"/>
            </association>
        </association>
        <association property="medicalEvents" javaType="com.dyhc.hospitalmanager.pojo.MedicalEvents">
            <id column="medical_events_id" property="medicalEventsId"/>
        </association>
    </resultMap>
        <insert id="addCheckResults">
                 INSERT INTO ch eck_result VALUES(NULL,#{physicalExaminationId},#{checkId},#{roleInfoId},now(),#{checkResultFinally},#{checkAdvice})
        </insert>
</mapper>