<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dyhc.hospitalmanager.dao.CheckResultMapper">
   <!--将体检结果插入体检结果表中-->
    <insert id="addCheckResult">
       INSERT INTO `check_result` VALUES(NULL,#{physicalExaminationId},#{checkId},#{roleInfoId},now(),#{checkResultFinally},#{checkAdvice})
   </insert>
    <select id="getCheckResultsList" resultType="com.dyhc.hospitalmanager.pojo.CheckResult">
        SELECT * FROM check_result WHERE physical_examination_id=#{physical_examination_id}
AND check_id=#{physical_examination_id}
    </select>
    <select id="getCheckResultAndMedicalEvents" resultType="com.dyhc.hospitalmanager.pojo.CheckResult">
        SELECT * FROM medical_events,check_result INNER JOIN  proposed_description
        WHERE   proposed_description.`proposed_description_id`=check_result.`check_advice`
        AND check_result.`check_result _id`=medical_events.`check_result _id`
    </select>
</mapper>