<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dyhc.hospitalmanager.dao.CombinationMapper">



    <!--添加组合项信息-->
    <insert id="addCombinationInfo">
       INSERT INTO combination VALUES(null,#{sectionId},#{combinationName},#{pinyinCode},#{promptInformation},#{resultToWay},#{isSpecimen},#{specimenType},1)
    </insert>

    <!--修改组合项信息-->
    <update id="updCombinationInfo">
    UPDATE
          `combination`
        SET
          `section_id` = #{sectionId},
          `combination_name` = #{combinationName},
          `pinyin_code` = #{pinyinCode},
          `prompt_information` = #{promptInformation},
          `result_to_way` = #{resultToWay},
          `is_specimen` = #{isSpecimen},
          `specimen_type` = #{specimenType},
          `is_enable` = #{isEnable}
        WHERE `combination_id` = #{combinationId}
    </update>
    <!-- 查询所有组合项，及其下的体检项 -->
    <select id="getAllCombinationList" resultMap="comCheck">
        SELECT com.*,c.* FROM `combination` com
        INNER JOIN `combination_and_ check` cac ON com.`combination_id` = cac.`combination_id`
        INNER JOIN `check` c ON c.`check_id`=cac.`check_id`
    </select>

    <!-- 查询所有组合项，及其下的体检项 -->
    <resultMap id="comCheck" type="com.dyhc.hospitalmanager.pojo.Combination">
        <id property="combinationId" column="combination_id" />
        <collection property="combinationCheckList" javaType="com.dyhc.hospitalmanager.pojo.Check">
            <id property="checkId" column="check_id" />
        </collection>
    </resultMap>
</mapper>