<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dyhc.hospitalmanager.dao.CombinationAndCheckMapper">
  <!--根据体检编号查询人员在该科室下的体检项和组合项-->
   <select id="getCheckAndComByCheckId" resultType="com.dyhc.hospitalmanager.pojo.CombinationAndCheck">
        SELECT ch.*,(SELECT check_name FROM `check` c WHERE c.`check_id`=ch.`check_id`) AS check_name,
       (SELECT `combination_name` FROM `combination` com WHERE com.`combination_id`=ch.`combination_id`) AS com
        FROM `combination_and_ check` ch WHERE ch.check_id=#{checkId}
   </select>
</mapper>