<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dyhc.hospitalmanager.dao.CommonResultsMapper">
    <!-- 根据体检项id查常见结果表，默认显示第一条 -->
      <select id="getCommResultsByCheckId" resultType="com.dyhc.hospitalmanager.pojo.CommonResults">
          SELECT * FROM common_results WHERE check_id=#{checkId} LIMIT 1
      </select>



</mapper>