<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dyhc.hospitalmanager.dao.CompanyInfoMapper">
    <!--李文荣 根据单位名称查询单位表-->
    <select id="showCompanyInfo" resultType="com.dyhc.hospitalmanager.pojo.CompanyInfo">
          SELECT * FROM `company_info` WHERE `company_name` = #{companyName};
    </select>

    <!--李文荣 修改单位信息-->
    <update id="updCompanyInfo">
        UPDATE
          `health_examination_system`.`company_info`
        SET
        <trim suffixOverrides="," suffix="WHERE `company_id` = #{companyId}" >
            <if test="companyName!=null and companyName!=''">
                `company_name` = #{companyName},
            </if>
            <if test="spellCode!=null and spellCode!=''">
                `spell_code` = #{spellCode},
            </if>
            <if test="companyPrincipal != null and companyPrincipal != ''">
                `company_principal` = #{companyPrincipal},
            </if>
            <if test="telephone != null and telephone != ''">
                `telephone` = #{telephone},
            </if>
            <if test="postalCode != null and postalCode != ''">
                `postal_code` = #{postalCode},
            </if>
            <if test="address != null and address != ''">
                `address` = #{address},
            </if>
            <if test="bankName != null and bankName != ''">
                `bank_name` = #{bankName},
            </if>

            <if test="companyNature != null and companyNature != ''">
                `company_nature` = #{companyNature},
            </if>
            <if test="authorizedStrength != null and authorizedStrength != ''">
                `authorized_strength` = #{authorizedStrength},
            </if>
            <if test="isDelete != null and isDelete != ''">
                `is_delete` = #{isDelete},
            </if>
            <if test="remark != null and remark != ''">
                `remark` = #{remark},
            </if>
            <if test="bankNumber != null and bankNumber != ''">
                    `bank_number` = #{bankNumber},
            </if>
        </trim>
    </update>
    <!--李文荣 添加单位信息-->
    <insert id="addCompanyInfo">
        INSERT INTO `health_examination_system`.`company_info` (`company_id`,`company_name`,`spell_code`,`company_principal`,
          `telephone`,`postal_code`,`address`,`bank_name`,`bank_number`,`company_nature`,`authorized_strength`,
          `is_delete`,`remark` )
        VALUES
          (0,#{companyName},#{spellCode},#{companyPrincipal},#{telephone},#{postalCode},
            #{address},#{bankName},#{bankNumber},#{companyNature},#{authorizedStrength},1,
           #{remark});
    </insert>
</mapper>