<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dyhc.hospitalmanager.dao.CostMapper">

    <!-- 添加费用表 -->
    <insert id="addCost" useGeneratedKeys="true" keyProperty="costId" >
        INSERT INTO `cost` VALUE(NULL,#{cost.costType},#{cost.healthExaminationId},#{cost.costAmount},NOW())
    </insert>

    <!-- 根据人员id查询该体检人是否已缴费/是否已退费 -->
    <select id="getCostTypeByPersonId" resultType="java.lang.String">
        SELECT `cost_type` FROM `cost` WHERE `health_examination_id` =
        (SELECT `physical_examination_id` FROM `physical_examination` WHERE `person_id` = #{personId}
        ORDER BY `medical_time` DESC LIMIT 0,1)  AND `cost_type` = #{costType}
    </select>

</mapper>