<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dyhc.hospitalmanager.dao.CostMapper">

    <!-- 添加费用表 -->
    <insert id="addCost">
        INSERT INTO `cost` VALUE(0,#{cost.costType},#{cost.healthExaminationId},#{cost.costAmount},NOW())
    </insert>

    <!-- 根据体检编号查询该体检人是否已缴费/是否已退费 -->
    <select id="getCostTypeByPhysical_Examination_Id" resultType="java.lang.String">
        SELECT `cost_type` FROM `cost` WHERE `health_examination_id` = #{physical_examination_id} AND `cost_type` = #{costType}
    </select>

    <!-- 根据体检编号和收费类型获取费用表id -->
    <select id="getCostIdByPhysical_Examination_IdAndCostType" resultType="java.lang.Integer">
        SELECT `cost_id` FROM `cost` WHERE `health_examination_id` = #{physical_examination_id} AND `cost_type` = #{costType}
    </select>

</mapper>