<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dyhc.hospitalmanager.dao.GroupMapper">
    <!--添加单位分组信息-->
    <insert id="addGroupInfo" useGeneratedKeys="true" keyProperty="groupId" keyColumn="group_id" >
        INSERT INTO `health_examination_system`.`group` (
          `group_id`,`group_name`,`company_id`,`term_sex`,`term_is_marry`,
          `term_age_floor`,`term_age_ceil`,`package_id`,`is_delete`
        )
        VALUES
          (
            null,#{groupName}, #{companyId}, #{termSex},
            #{termIsMarry},#{termAgeFloor},#{termAgeCeil},#{packageId},1
          );
    </insert>
    <!--根据公司名称查询单位分组信息-->
    <select id="groupListByCompanyId" resultType="com.dyhc.hospitalmanager.pojo.Group">
        SELECT * FROM `group` WHERE `company_id`=#{companyId}
    </select>

    <!--根据单位分组id查询信息-->
    <select id="showGroupDetails" resultType="com.dyhc.hospitalmanager.pojo.Group">
        SELECT * FROM `group` g
        INNER JOIN `company_info` c ON g.company_id = c.`company_id`
        INNER JOIN package p ON p.package_id = g.package_id
        WHERE g.group_id = #{groupId};
    </select>

    <!--修改分组的状态-->
    <update id="updGroup">
        UPDATE `group` SET `is_delete` = #{isDelete} where group_id = #{groupId}
    </update>

    <!--根据分组名称查询分组是否存在-->
    <select id="selectByGroupName" resultType="com.dyhc.hospitalmanager.pojo.Group">
        SELECT  * FROM `group` WHERE group_name = #{groupName}
    </select>
</mapper>