<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dyhc.hospitalmanager.dao.GuideMapper">
    <!--根据体检编号查询体检项-->
    <select id="showListCheck" resultType="com.dyhc.hospitalmanager.pojo.Check">
      SELECT c.* FROM `physical_examination` pe
      INNER JOIN `physical_examination_and_package` pep
      ON pe.`physical_examination_id` = pep.`physical_examination_id`
      INNER JOIN `package_and_ combination` pac ON pep.`package_id` = pac.`package_id`
      INNER JOIN `combination_and_ check` cac ON pac.`combination_id` = cac.`combination_id`
      INNER JOIN `check` c ON cac.`check_id` = c.`check_id`
      WHERE pe.`physical_examination_id` = #{physicalExaminationId}
      UNION
      SELECT c.* FROM `physical_examination` pe
      INNER JOIN `physical_examination_and_package` peap
      ON pe.`physical_examination_id` = peap.`physical_examination_id`
      INNER JOIN `package_and_ check` pac ON peap.package_id = pac.package_id
      INNER JOIN `check` c ON c.`check_id` = pac.check_id
      WHERE peap.physical_examination_id =#{physicalExaminationId}
      UNION
      SELECT c.* FROM `physical_examination` pe
      INNER JOIN `physical_examination_and_ combination` pac ON pe.`physical_examination_id` = pac.`physical_examination_id`
      INNER JOIN `combination_and_ check` cac ON pac.`combination_id` = cac.`combination_id`
      INNER JOIN `check` c ON cac.`check_id` = c.`check_id`
      WHERE pe.`physical_examination_id` =#{physicalExaminationId}
      UNION
      SELECT c.* FROM `physical_examination` pe
      INNER JOIN `physical_examination_and_ check` peac ON pe.`physical_examination_id` = peac.`physical_examination_id`
      INNER JOIN `check` c ON peac.`check_id` = c.`check_id`
      WHERE pe.`physical_examination_id` =#{physicalExaminationId}
    </select>

  <!--根据身份证号查询该套餐-->
  <select id="getPackageId" resultType="int">
    SELECT g.`package_id` FROM person_info per
    INNER JOIN `group` g ON per.`group_id` = g.`group_id`
    INNER JOIN package p ON p.`package_id` = g.`package_id`
    WHERE per.`person_id_card` = #{personIdCard};
  </select>

  <select id="listCheckId" resultType="com.dyhc.hospitalmanager.pojo.Check">
    SELECT c.* FROM `package` p
    INNER JOIN `package_and_ check` pac ON p.package_id = pac.`package_id`
    INNER JOIN `check` c ON c.`check_id` = pac.check_id
    WHERE p.package_id = #{packageId}
    UNION
    SELECT c.* FROM `package` p
    INNER JOIN `package_and_ combination` pac ON pac.`package_id` = p.package_id
    INNER JOIN `combination_and_ check` cac ON cac.`combination_id` = pac.`combination_id`
    INNER JOIN `check` c ON c.`check_id` = cac.`check_id`
    WHERE p.package_id= #{packageId}
  </select>
</mapper>