<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dyhc.hospitalmanager.dao.PackageMapper">

    <!-- 根据套餐Id查询其下面的所有组合项 -->
    <select id="getPackageCombination" resultMap="getPC">
        SELECT p.*,com.*,c.* FROM `package` p
        INNER JOIN `package_and_ combination` pac ON p.`package_id` = pac.`package_id`
        INNER JOIN `combination` com ON com.`combination_id` = pac.`combination_id`
        INNER JOIN `combination_and_ check` cac ON cac.`combination_id` = pac.`combination_id`
        INNER JOIN `check` c ON c.`check_id` = cac.`check_id`
        WHERE p.`package_id`=#{packageId}
    </select>

    <!-- 根据套餐Id查询其下面的所有组合项 -->
    <resultMap id="getPC" type="com.dyhc.hospitalmanager.pojo.Package">
        <id column="package_id" property="packageId"/>
        <collection property="packageCombinationList" javaType="com.dyhc.hospitalmanager.pojo.Combination">
            <id column="combination_id" property="combinationId"/>
            <collection property="combinationCheckList" javaType="com.dyhc.hospitalmanager.pojo.Check">
                <id column="check_id" property="checkId"/>
            </collection>
        </collection>
    </resultMap>

    <!-- 根据套餐Id查询套餐下的体检项 -->
    <select id="getPackageCheck" resultMap="getC">
        SELECT * FROM `package` p
        INNER JOIN `package_and_ check` pc ON pc.`package_id` = p.`package_id`
        INNER JOIN `check` cp ON cp.`check_id`=pc.`check_id`
        WHERE p.`package_id`=#{packageId}
    </select>

    <!-- 根据套餐Id查询套餐下的体检项 -->
    <resultMap id="getC" type="com.dyhc.hospitalmanager.pojo.Package">
        <id column="package_id" property="packageId"/>
        <collection property="packageCheckList" javaType="com.dyhc.hospitalmanager.pojo.Check">
            <id column="check_id" property="checkId"/>
        </collection>
    </resultMap>

    <!-- 获取所有套餐的Id -->
    <select id="getAllPackageId" resultType="int">
        SELECT package_id FROM `package`
    </select>

    <!--查询所有套餐-->
    <select id="showAllPackage" resultType="com.dyhc.hospitalmanager.pojo.Package">
       SELECT * FROM package;
    </select>

    <!-- 根据套餐Id，获取该套餐 -->
    <select id="selPackageById" resultType="com.dyhc.hospitalmanager.pojo.Package">
        SELECT * FROM `package`
        WHERE package_id = #{packageId}
    </select>
    <!--添加套餐信息-->
    <insert id="addPackageInfo" useGeneratedKeys="true" keyProperty="packageId" keyColumn="package_id">
      INSERT INTO package VALUES(NULL,#{packageName},#{scopeApplication},#{note},1)
    </insert>
    <!--根据套餐id查询套餐信息以及下组合项信息-->
    <select id="getPackageAndCombinationInfoById" resultMap="getPC">
                     SELECT
        package.package_id,
        package.package_name,
        package.scope_application,
        package.note,
        package.is_enable,
        combination.combination_id,
        combination.combination_name
        FROM
        package
        INNER JOIN `package_and_ combination` ON package.package_id = `package_and_ combination`.package_id
        INNER JOIN combination ON combination.combination_id = `package_and_ combination`.combination_id
        where package.package_id=#{packageId}

     </select>

    <!--根据套餐id查询套餐信息以及下体检项信息-->
    <select id="getPackageAndCheckInfoById" resultMap="getPC">
                           SELECT
                package.package_id,
                package.package_name,
                package.scope_application,
                package.note,
                package.is_enable,
                `check`.check_id,
                `check`.check_name
                FROM
                `check`
                INNER JOIN `package_and_ check` ON `check`.check_id = `package_and_ check`.check_id
                INNER JOIN package ON package.package_id = `package_and_ check`.package_id

                where package.package_id=#{packageId}
     </select>

    <!--修改套餐信息-->
    <update id="updPackageInfo">
    update
      package
    set
      package_name=#{packageName},
      scope_application=#{scopeApplication},
      note=#{note},
      is_enable=#{isEnable}
      where package_id=#{packageId}
    </update>

    <!-- 根据体检编号查询套餐信息 -->
    <select id="getPackageByPhysicalExaminationId" resultType="com.dyhc.hospitalmanager.pojo.Package">
        SELECT * FROM `package` WHERE `package_id` IN
          (SELECT `package_id` FROM  `physical_examination_and_package`
            WHERE `physical_examination_id` = #{physicalExaminationId})
    </select>

</mapper>