<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dyhc.hospitalmanager.dao.PermissionsMapper">
    <select id="getPermissions" resultType="com.dyhc.hospitalmanager.pojo.Permissions">
        select * from permissions where `role_id`=#{roleId}
    </select>
</mapper>