<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dyhc.hospitalmanager.dao.PersonInfoMapper">
    <!-- 根据用户姓名与身份证号查询用户信息-->
    <select id="findPersonInfos" resultType="com.dyhc.hospitalmanager.pojo.PersonInfo">
        SELECT * FROM `person_info` WHERE 1 = 1
        <if test="personName != null and personName != ''">
            AND `person_name` = #{personName}
        </if>
        <if test="personIdCard != null and personIdCard != ''">
            AND `person_id_card` = #{personIdCard}
        </if>
    </select>

    <!--添加用户信息-->
    <insert id="addPersonInfo">
      INSERT INTO `health_examination_system`.`person_info` (`person_id`,`person_name`,`person_age`,`person_birthday`,`person_sex`,
                  `person_id_card`,`is_marry`,`person_telephone`,`person_address`,`person_name_spell_code`,`person_type`,`group_id`,
                  `create_date`)
      VALUES(0,#{personName},#{personAge},#{personBirthday},#{personSex},#{personIdCard},#{isMarry},#{personTelephone},
            #{personAddress},#{personNameSpellCode},#{personType},#{groupId},now());
    </insert>

    <!-- 根据手机号查询人员信息 -->
    <select id="getPersonInfoByPersonTelephone" resultType="com.dyhc.hospitalmanager.pojo.PersonInfo">
        SELECT * FROM `person_info` WHERE `person_telephone` = #{personTelephone}
    </select>

    <update id="updPersonInfo">
        UPDATE
          `health_examination_system`.`person_info`
        SET
          <trim suffixOverrides="," suffix="WHERE `person_id` = #{personId}">
              <if test="personName!=null and personName!=''">
                  `person_name` = #{personName},
              </if>
              <if test="personAge!=null and personAge!=0">
                  `person_age` = #{personAge},
              </if>
              <if test="personBirthday!=null">
                  `person_birthday` = #{personBirthday},
              </if>
              <if test="personSex!=null and personSex!=''">
                  `person_sex` = #{personSex},
              </if>
              <if test="personIdCard!=null and personIdCard!=''">
                  `person_id_card` = #{personIdCard},
              </if>
              <if test="isMarry!=null and isMarry!=''">
                  `is_marry` = #{isMarry},
              </if>
              <if test="personTelephone!=null and personTelephone!=''">
                  `person_telephone` = #{personTelephone},
              </if>
              <if test="personAddress!=null and personAddress!=''">
                  `person_address` = #{personAddress},
              </if>
              <if test="personNameSpellCode!=null and personNameSpellCode!=''">
                  `person_name_spell_code` = #{personNameSpellCode},
              </if>
              <if test="personType!=null and personType!=''">
                  `person_type` = #{personType},
              </if>
              <if test="groupId!=null and groupId!=0">
                  `group_id` = #{groupId},
              </if>
          </trim>
    </update>

    <select id="findPersonInfoPersonIdCard" resultType="com.dyhc.hospitalmanager.pojo.PersonInfo">
        SELECT * FROM `person_info` WHERE 1 = 1
        <if test="personIdCard != null and personIdCard != ''">
            AND `person_id_card` = #{personIdCard}
        </if>
    </select>
    
    <!-- 根据人员id查询人员信息 -->
    <select id="getPersonInfoByPersonId" resultType="com.dyhc.hospitalmanager.pojo.PersonInfo">
        SELECT * FROM `person_info` WHERE `person_id` = #{personId}
    </select>
    
</mapper>