<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dyhc.hospitalmanager.dao.PhysicalExaminationAndCheckMapper">

    <!-- 新增用户的体检项 -->
    <insert id="addBatchPhysicalExaminationAndCheck">
      INSERT INTO `health_examination_system`.`physical_examination_and_ check` (
          `physical_examination_and_ check_id`,
          `physical_examination_id`,
          `check_id`,
          `physical_statu`
        )
        VALUES
        <foreach collection="checkId" item="cId" index="index" separator=",">
            (
            null ,
            #{physicalExaminationId},
            #{cId},
            0
            )
        </foreach>
    </insert>
   <update id="updateStatu">
       update `physical_examination_and_ check`
        set `physical_statu`=1
       where `physical_examination_id`=#{peaId}
              AND `check_id`=#{checkId}
   </update>
</mapper>