<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dyhc.hospitalmanager.dao.ProposedDescriptionMapper">
    <!-- 根据结果id查建议描述表，默认显示第一条 -->
     <select id="getProposedByResultId" resultType="com.dyhc.hospitalmanager.pojo.ProposedDescription">
         SELECT * FROM `proposed_description` WHERE result_id=#{resultId} LIMIT 1
     </select>
    <select id="getProposedDescriptionlist" resultType="com.dyhc.hospitalmanager.pojo.ProposedDescription">
          SELECT * FROM `proposed_description` WHERE result_id=#{resultId}
    </select>
    <!--添加建议描述信息-->
    <insert id="addProposedDescriptionInfo">
    insert into proposed_description VALUES(NULL,#{resultId},#{sciencePopularization},#{adviceContent},1)
    </insert>
    <select id="getProposedDescriptionByid" resultType="com.dyhc.hospitalmanager.pojo.ProposedDescription">
           SELECT * FROM `proposed_description` WHERE `proposed_description_id`=#{proposedDescriptionId}
    </select>

    <!--修改建议描述信息-->
    <update id="updProposedDescriptionInfo">
          UPDATE
      proposed_description
    SET
      result_id=#{resultId},
      science_popularization=#{sciencePopularization},
      advice_content=#{adviceContent},
      is_delete=#{isDelete}
      WHERE `proposed_description_id`=#{proposedDescriptionId}
    </update>

    <!--根据主键id查询建议描述信息-->
    <select id="getAllProposedDescriptionInfoById" resultType="com.dyhc.hospitalmanager.pojo.ProposedDescription">
         SELECT * FROM `proposed_description` WHERE `proposed_description_id`=#{proposedDescriptionId}
     </select>
</mapper>